<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script> 
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="lang_auto_provision_settings"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_enable"></span>:
							<span class="showhelp" id="lang_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="enable" id="enable" />
					</td>
				</tr>
				
				<tbody id="enable_content">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_dhcp_option_66"></span>:
								<span class="showhelp" id="lang_dhcp_option_66_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="dhcp_option_66" id="dhcp_option_66" />
						</td>
					</tr>
				</tbody>
					
				<tbody id="dhcp_content">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_auto_config_server_url"></span>:
								<span class="showhelp" id="lang_auto_config_server_url_help"></span>
							</div>
						</th>
						<td>
							<input type="text" size="60" name="auto_config_server_url" id="auto_config_server_url" />
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_upgrade_mode"></span>:
								<span class="showhelp" id="lang_upgrade_mode_help"></span>
							</div>
						</th>
						<td>
							<select name="mode" id="mode">
								<option id="lang_power_on" value="0"></option>
								<option id="lang_immediately" value="1"></option>
							</select>
						</td>
					</tr>
				</tbody>
				
				
				<table id="float_btn" class="float_btn" style="margin-top:10px;">
					<tr id="float_btn_tr" class="float_btn_tr">
						<td>
							<input type="button" class="lang_save" />
							<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
						</td>
					</tr>
				</table>
			</table>
		</div>
	
		<script src="../js/page/adv-autoprovision.js"></script>
	</div>
</body>
</html>