<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script> 
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="lang_snmp_parameter"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_snmp_enable"></span>:
							<span class="showhelp" id="lang_snmp_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="snmp_switch" id="snmp_switch" value="yes" />
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_system_contact"></span>:
							<span class="showhelp" id="lang_system_contact_help"></span>
						</div>
					</th>
					<td>
						<input id="syscontact" name="syscontact" value="" />
					</td>
				</tr>
					
				</tr>
					<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_system_location"></span>:
							<span class="showhelp" id="lang_system_location_help"></span>
						</div>
					</th>
					<td>
						<input id="syslocation" name="syslocation" value="" />
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_support_snmp_version"></span>:
							<span class="showhelp" id="lang_support_snmp_version_help"></span>
						</div>
					</th>
					<td>
						<label><input type="checkbox" id="v1" name="snmp_enabled_version" value="v1" > v1</label><br>
						<label><input type="checkbox" id="v2c" name="snmp_enabled_version" value="v2c" > v2c</label><br>
						<label><input type="checkbox" id="v3" name="snmp_enabled_version" value="v3" > v3</label><br>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_snmp_version"></span>:
							<span class="showhelp" id="lang_snmp_version_help"></span>
						</div>
					</th>
					<td>
						<select id="snmp_version" name="snmp_version" >
							<option value="0" id="lang_v1"></option>
							<option value="1" id="lang_v2c"></option>		
							<option value="2" id="lang_v3"></option>
						</select>
					</td>
				</tr>
			</table>
			
			<div id="field_user_configuration_v3" style="display:none;">
			</div>
			
			<div id="field_community_configuration_for_v1" style="display:none;">
			</div>
			
			<div id="field_community_configuration_for_v2" style="display:none;">
			</div>
			
			<br/>
			
			<div id="field_group_configuration_for_v1" style="display:none;">
			</div>
			
			<div id="field_group_configuration_for_v2" style="display:none;">
			</div>
			
			<div id="field_group_configuration_for_v3" style="display:none;">
			</div>
			
			<br/>
			
			<div id="field_view_configuration_for_v1" style="display:none;">
			</div>
			
			<div id="field_view_configuration_for_v2" style="display:none;">
			</div>
			
			<div id="field_view_configuration_for_v3" style="display:none;">
			</div>
			
			<br/>
			
			<div id="field_access_configuration_for_v1" style="display:none;">
			</div>
			
			<div id="field_access_configuration_for_v2" style="display:none;">
			</div>
			
			<div id="field_access_configuration_v3" style="display:none;">
			</div>
			
			<table id="float_btn" class="float_btn">
				<tr id="float_btn_tr" class="float_btn_tr">
					<td>
						<input type="submit" class="lang_save" value="" onclick="return check();" />
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
		</div>
	
		<script src="../js/page/adv-snmp.js"></script>
	</div>
</body>
</html>