<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		<link type="text/css" href="/css/jquery.ibutton.css" rel="stylesheet" media="all" />
		<script type="text/javascript" src="/js/jquery.ibutton.js"></script>
		<script type="text/javascript" src="../js/check.js"></script>
		<script type="text/javascript" src="../js/functions.js"></script>
		
		<div id="lps">

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="lang_general"></li>
				<li class="tb2"></li>
			</div>
			
			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_enable"></span>:
							<span class="showhelp" id="lang_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="enable" id="enable" />
					</td>
				</tr>
				
				<!--<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_timeout"></span>:
							<span class="showhelp" id="lang_timeout_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="timeout" id="timeout" />
						<span id="ctimeout"></span>
					</td>
				</tr>-->
					
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_voicefile"></span>:
							<span class="showhelp" id="lang_voicefile_help"></span>
						</div>
					</th>
					<td>
						<form id="file_form" enctype="multipart/form-data" action="/service" method="post" >
							<input type='hidden' name='action' value='upload' />
							<input type="file" id="uploadfile1" name="uploadfile1" />
							<input type="hidden" name="type" value="call_test" />
							<input type="hidden" name="page_name" value="alg-calltest" />
						</form>
					</td>
				</tr>
			</table>
			
			<br/>
			
			<input type="button" id="lang_save" class="save_input" value="" />
			
			<table width="100%" class="tshow" style="margin-top:20px;">
				<tr>
					<th style="width:03%" class="nosort">
						<input type="checkbox" name="selall" onclick="selectAll(this.checked, 'port[]')" />
					</th>
					<th style="width:15%;" id="lang_port"></th>
					<th style="width:15%;" id="lang_name"></th>
					<th style="width:15%;" id="lang_type"></th>
					<th id="lang_result"></th>
					<th style="width:6%;" id="lang_action"></th>
				</tr>
			</table>
			
			<br/>
			
			<input type="button" id="lang_test" class="save_input" value="" onclick="Test_all()" />
		</div>
		
		<script src="../js/page/alg-calltest.js"></script>
	</div>
</body>
</html>