<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<script type="text/javascript" src="../js/layer/layer.min.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/float_btn.js"></script>
				
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="channel_name"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<!-- General begin -->
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_general')" id="tab_general_li">&nbsp;</li>
				<li class="tbg_fold" onclick="lud(this,'tab_general')" id="General_name"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_general')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div id="tab_general" style="display:block">
				<table width="98%" class="tedit" align="right" >
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_port_type"></span>:
								<span id="lang_port_type_help" class="showhelp"></span>
							</div>
						</th>
						<td id="chnnl_type"></td>
					</tr>
				
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_port_name"></span>:
								<span id="lang_port_name_help" class="showhelp"><br/></span>
							</div>
						</th>
						<td>
							<input type=text name="portname" id="portname" value="" />
							<span id="cportname" class="number_tip"></span>
						</td>
					</tr>
				
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_rx_gain"></span>:
								<span id="lang_rx_gain_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="rxgain_sync" name="rxgain_sync" title="Synchronization option"/>
							<input type=text name="rxgain" id="rxgain" value="" />
							<span id="crxgain" class="number_tip"></span>
						</td>
					</tr>
				
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_tx_gain"></span>:
								<span id="lang_tx_gain_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="txgain_sync" name="txgain_sync" title="Synchronization option"/>
							<input type=text name="txgain" id="txgain" value="" />
							<span id="ctxgain" class="number_tip"></span>
						</td>
					</tr>
				
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_ring_timeout"></span>:
								<span id="lang_ring_timeout_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="ringtimeout_sync" name="ringtimeout_sync" title="Synchronization option"/>
							<input type=text name="ringtimeout" id="ringtimeout" value="" />
							<span id="cringtimeout" class="number_tip"></span>
						</td>
					</tr>
				</table>
			</div>
			<!-- General end -->
			
			<!-- Caller ID begin -->
			<div id="newline"></div>	
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_cid')" id="tab_cid_li">&nbsp;</li>
				<li class="tbg_fold" onclick="lud(this,'tab_cid')" id="Caller_ID_name"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_cid')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div style="display:block">
				<table width="98%" id="tab_cid" class="tedit" align="right" ></table>
			</div>
			
			<div id="after_tab_cid"></div>
			<!-- Caller ID end -->
			
			<!-- Call Limit begin -->
			<div id="newline"></div>
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_limit')" id="tab_limit_li">&nbsp;</li>
				<li class="tbg_fold" onclick="lud(this,'tab_limit')" id="lang_call_limit"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_limit')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			
			<div style="display:block" id="tab_limit">
				<table width="98%" class="tedit" align="right">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_call_limit_switch"></span>
								<span id="lang_call_limit_switch_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="call_limit_switch_sync" name="call_limit_switch_sync" title="Synchronization option"/>
							<input type="checkbox" name="call_limit_switch" id="call_limit_switch" />
							<span id="ccall_limit_switch"></span>
						</td>
					</tr>
					
					<tr class="call_limit_tr">
						<th>
							<div class="helptooltips">
								<span id="lang_limit_call_time"></span>
								<span id="lang_limit_call_time_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="call_time_settings_sync" class="setting_sync" id="call_time_settings_sync" title="Synchronization option"/>
							<input type="text" name="call_time_settings" id="call_time_settings" value="" />
							<span class="lang_second"></span>
							<span id="ccall_time_settings"></span>
						</td>
					</tr>
					
					<tr class="call_limit_tr">
						<th>
							<div class="helptooltips">
								<span id="lang_limit_daily_call_times"></span>
								<span id="lang_limit_daily_call_times_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="day_calls_settings_sync" class="setting_sync" id="day_calls_settings_sync" title="Synchronization option"/>
							<input type="text" name="day_calls_settings" id="day_calls_settings" value="" />
							<span id="cday_calls_settings"></span>
						</td>
					</tr>
					
					<tr class="call_limit_tr">
						<th>
							<div class="helptooltips">	
								<span id="lang_limit_daily_answer_times"></span>
								<span id="lang_limit_daily_answer_times_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="day_answer_setting_sync" class="setting_sync" id="day_answer_setting_sync" title="Synchronization option"/>
							<input type="text" name="day_answer_setting" id="day_answer_setting" value="" />
							<span id="cday_answer_setting"></span>
						</td>
					</tr>
					
					<tr class="call_limit_tr">
						<th>
							<div class="helptooltips">
								<span id="lang_limit_hour_call_times"></span>
								<span id="lang_limit_hour_call_times_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="hour_calls_settings_sync" id="hour_calls_settings_sync" class="setting_sync" title="Synchronization option" />
							<input type="text" name="hour_calls_settings" id="hour_calls_settings" value="" />
							<span id="chour_calls_settings"></span>
						</td>
					</tr>
				</table>
			</div>
			<!-- Call Limit end -->

			<!-- Save To Other Channels begin -->
			<div id="newline"></div>
			<div id="tab" style="height:20px;">
				<li class="tb_fold" onclick="lud(this,'save_to_other_channels')" id="save_to_other_channels_li">&nbsp;</li>
				<li class="tbg_fold" onclick="lud(this,'save_to_other_channels')" id="Save_to_other_name"></li>
				<li class="tb2_fold" onclick="lud(this,'save_to_other_channels')">&nbsp;</li>
				<li class="tb_end2">&nbsp;</li>
			</div>
			<div id="save_to_other_channels" style="display:none">
				<table width="98%" class="tedit" align="right">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_save_to_other_channels"></span>:
								<span id="lang_save_to_other_channels_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<table cellpadding="0" cellspacing="0" class="port_table">
								<tbody id="port_str"></tbody>
								<tr>
									<td colspan=4>
										<input type="checkbox" id="all_port" onclick="selectAllCheckbox(this.checked,'class','port');handle_port_sync();">
										<span id="lang_all"></span>
										<span id="cports"></span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_sync_all_settings"></span>:
								<span id="lang_sync_all_settings_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" id="all_settings_sync" onclick="setting_sync_check(this.checked);" disabled />
							<span id="lang_select_all_settings"></span>
						</td>
					</tr>
				</table>
			</div>
			<!-- Save To Other Channels end -->
			
			<div id="newline" ></div>
			<table id="float_btn" class="float_btn" style="float:left;">
				<tr id="float_btn_tr" class="float_btn_tr" style="">
					<td>
						<input type="button" class="save_input" id="submit_save" value="" />
					</td>
					<td>
						<input type="button" class="cancel_input" value="" onclick="cancel();" />
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
			<table id="float_btn2" style="border:none;" class="float_btn2" style="float:left;">
				<tr id="float_btn_tr2" class="float_btn_tr2" style="padding-left: 15px;">
					<td style="width:51px;">
						<input type="button" id="float_button_1" class="float_short_button save_input" value="" />
					</td>
					<td>
						<input type="button" id="float_button_2" class="float_short_button cancel_input" value="" onclick="cancel();"/>
					</td>
				</tr>
			</table>

			<div style="clear:both;"></div>
			
			<!-- sidebar -->
			<div id="sort_out" class="sort_out"></div>
			<div class="sort_ag_cli" id="sort_ag_cli">
				<div id="sort_info" class="sort_info" style="display:block"></div>
			</div>
		</div>
		
		<script src="../js/page/alg-chnsettings-edit.js?v=1.8"></script>
	</div>
</body>
</html>
<div id="to_top"></div>
<div id="float_btn1" class="sec_float_btn1">
</div>
<div class="float_close" onclick="close_btn()" >
</div>