<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script> 
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="dhcp_update_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_enable"></span>:
							<span id="lang_enable_help" class="showhelp"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="enable" id="enable" />
					</td>
				</tr>
			</table>
			
			<input type="button" class="save_input" value="Save" style="margin-top: 10px;" />
			<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
			<br/>

		</div>
	
		<script src="../js/page/dhcp-update.js"></script>
	</div>
</body>
</html>