<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">

			<h4 id="lang_title"></h4>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script>

			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="lang_security_rules"></li>
				<li class="tb2">&nbsp;</li>
			</div>

			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_rule_name"></span>:
							<span class="showhelp" id="lang_rule_name_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="rule_name" id="rule_name" value="">
						<span id="crule_name"></span>
					</td>
				</tr>
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_protocol"></span>:
							<span class="showhelp" id="lang_protocol_help"></span>
						</div>
					</th>
					<td>
						<select name="protocol" id="protocol">
							<option value="TCP" selected="">TCP</option>
							<option value="UDP">UDP</option>
							<option value="ICMP">ICMP</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_port"></span>:
							<span class="showhelp" id="lang_port_help"></span>
						</div>
					</th>
					<td>
						<input type="text" id="allow_port1" name="allow_port1" width="20%" value="" oninput="this.value=this.value.replace(/[^\d]*/g,'')" onkeyup="this.value=this.value.replace(/[^\d]*/g,'')"> :
						<input type="text" id="allow_port2" name="allow_port2" width="20%" value="" oninput="this.value=this.value.replace(/[^\d]*/g,'')" onkeyup="this.value=this.value.replace(/[^\d]*/g,'')">
						<span id="cport"></span>
					
					</td>
				</tr>
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_ip_mask"></span>:
							<span class="showhelp" id="lang_ip_mask_help"></span>
						</div>
					</th>
					<td>
						<input id="allow_ip" name="allow_ip" width="20%" value=""> /
						<input id="allow_mask" name="allow_mask" width="20%" value="">
						<span id="cip"></span>
					
					</td>
				</tr>
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_actions"></span>:
							<span class="showhelp" id="lang_actions_help"></span>
						</div>
					</th>
					<td>
						<select name="actions" id="actions">
							<option value="ACCEPT" selected="">ACCEPT</option>
							<option value="DROP">DROP</option>
						</select>
					</td>
				</tr>
			</table>
			
			<br>

			<input type="button" class="float_btn gen_short_btn save_input" id="lang_save" value="" >
			<input type="button" value="" id="lang_cancel" class="cancel_input" onclick="window.location.href='network-rules.html'">
			<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>

			<!-- sidebar -->
			<div id="sort_out" class="sort_out" ></div>
			<div class="sort_ag_cli" id="sort_ag_cli">
				<div id="sort_info" class="sort_info"></div>
			</div>
		</div>
		<script src="../js/page/network-rules-edit.js?v=1.0"></script>
	</div>
</body>
</html>