<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<link type="text/css" href="../css/jquery-ui-1.10.2.custom.all.css" rel="stylesheet" media="all">
		<script type="text/javascript" src="../js/jquery-ui-1.10.2.custom.all.min.js"></script>
		
		
		<div id="lps">
			<h3 id="feed_back_tip"></h3>
			<table width="100%" id="tab_rules" class="tdrag">
				<tr>
					<th width="15%" id="lang_rule_name"></th>
					<th width="15%" id="lang_type"></th>
					<th width="15%" id="lang_protocol"></th>
					<th width="25%" id="lang_ip"></th>
					<th width="20%" id="lang_port"></th>
					<th width="7%" id="lang_actions"></th>
				</tr>
				<tbody id="content">
				</tbody>
			</table>
			
			<br>
			
			<a>
				<input type="button" class="save_input" id="lang_new_rule" value="" >
			</a>

			<div id="preview_dg" title="Firewall Rules Apply" >
				<div>
					<div id="redmsg" style="display:block;width:470px;margin:0 auto;" contenteditable="false"></div>
					<br>
					<div id="timemsg" style="display:block;width:470px;margin:0 auto" contenteditable="false"></div>
				</div>
			</div>
		</div>
		<script src="../js/page/network-rules.js"></script>
	</div>
</body>
</html>