<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script> 
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<!-- LAN IPv4 begin -->
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="lan_ipv4_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			<table width="100%" class="tedit" id="lan_ipv4" >
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_interface"></span>:
							<span id="lang_interface_help" class='showhelp'></span>
						</div>
					</th>
					<td id="network_name"></td>
				</tr>
				
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_type"></span>:
							<span id="lang_type_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<select id='lan_type' name='lan_type' >
							<option id="lang_factory" value='factory' ></option>
							<option id="lang_static" value='static' ></option>
							<option id="lang_dhcp" value='dhcp' ></option>
						</select>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_mac"></span>:
							<span id="lang_mac_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='lan_mac' type='text' name='lan_mac' value='' />
						<span id='clan_mac' class='number_tip'></span>
					</td>
				</tr>
			</table>
			<!-- LAN IPv4 end -->

			<br>

			<!-- IPv4 Settings begin -->
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="ipv4_settings_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			<table width="100%" class="tedit" id="ipv4_settings" >
				<tr id='field_lan_ipaddr' style='display: none'>
					<th>
						<div class='helptooltips'>
							<span id="lang_address"></span>:
							<span id="lang_address_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='lan_ipaddr' type='text' name='lan_ipaddr' value='' />
						<span id='clan_ipaddr' class='number_tip'></span>
					</td>
				</tr>
					
				<tr id='field_lan_netmask' style='display: none'>
					<th>
						<div class='helptooltips'>
							<span id="lang_netmask"></span>:
							<span id="lang_netmask_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='lan_netmask' type='text' name='lan_netmask' value='' />
						<span id='clan_netmask' class='number_tip'></span>
					</td>
				</tr>
				
				<tr id='field_lan_gateway' style='display: none'>
					<th>
						<div class='helptooltips'>
							<span id="lang_default_gateway"></span>:
							<span id="lang_default_gateway_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='lan_gateway' type='text' name='lan_gateway' value='' />
						<span id='clan_gateway' class='number_tip'></span>
					</td>
				</tr>
			</table>
			<!-- IPv4 Settings end -->
			
			<br>

			<!-- DNS Servers begin -->
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg">
					<div class="helptooltips">
						<span id="dns_servers_span"></span>
						<span class="showhelp" id="dns_servers_span_help"></span>
					</div>
				</li>
				<li class="tb2">&nbsp;</li>
			</div>
			<table width="100%" class="tedit" id="dns_servers" >
				<tr>
					<th><span class="lang_dns_server"></span> 1:</th>
					<td>
						<input type='text' name='dns1' id='dns1' value='' />
						<span id='cdns1' class='number_tip'></span>
					</td>
				</tr>
				
				<tr>
					<th><span class="lang_dns_server"></span> 2:</th>
					<td>
						<input type='text' name='dns2' id='dns2' value='' />
						<span id='cdns2' class='number_tip'></span>
					</td>
				</tr>
				
				<tr>
					<th><span class="lang_dns_server"></span> 3:</th>
					<td>
						<input type='text' name='dns3' id='dns3' value='' />
						<span id='cdns3' class='number_tip'></span>
					</td>
				</tr>
				
				<tr>
					<th><span class="lang_dns_server"></span> 4:</th>
					<td>
						<input type='text' name='dns4' id='dns4' value='' />
						<span id='cdns4' class='number_tip'></span>
					</td>
				</tr>
			</table>
			<!-- DNS Servers end -->
			
			<br>

			<!-- Reserved Access IP begin -->
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg">
					<div class="helptooltips">
						<span id="reserved_access_ip_span"></span>
						<span class="showhelp" id="reserved_access_ip_span_help"></span>
					</div>
				</li>
				<li class="tb2">&nbsp;</li>
			</div>
			<table width="100%" class="tedit" id="reserved_access_ip" >
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_enable"></span>:
							<span id="lang_enable_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input type='checkbox' id='reserved_sw' name='reserved_sw' onchange='reservedswchange()' />
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_reserved_address"></span>:
							<span id="lang_reserved_address_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='reserved_ip' type='text' name='reserved_ip' value='' readOnly />
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_reserved_netmask"></span>:
							<span id="lang_reserved_netmask_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='reserved_mask' type='text' name='reserved_mask' value='' readOnly />
					</td>
				</tr>
			</table>
			<!-- Reserved Access IP end -->
			
			<br>

			<input type="button" class="save_input" value="Save" />
			<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>

		</div>
	
		<script src="../js/page/network-lan.js?v=1.6"></script>
	</div>
</body>
</html>