<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all">
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/float_btn.js"></script>
			
			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="general_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_flex_routing_sw"></span>:
							<span class="showhelp" id="lang_flex_routing_sw_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="flex_routing_sw" id="flex_routing_sw" />
					</td>
				</tr>
				
				<tr id="internalcallsw_tr">
					<th>
						<div class="helptooltips">
							<span id="lang_internalcallsw"></span>:
							<span class="showhelp" id="lang_internalcallsw_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="internalcallsw" id="internalcallsw" />
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_internalsipcallsw"></span>:
							<span class="showhelp" id="lang_internalsipcallsw_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="internalsipcallsw" id="internalsipcallsw" />
					</td>
				</tr>
			</table>
			
			<br>
			<table id="float_btn" class="float_btn">
				<tr id="float_btn_tr" class="float_btn_tr" >
					<td>
						<input type="button" class="save_input" value="" /> 
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
			<table id="float_btn2" style="border:none;" class="float_btn2">
				<tr id="float_btn_tr2" class="float_btn_tr2" >
					<td>
						<input type="button" id="float_button_1" class="float_short_button save_input" value="" />
					</td>
				</tr>
			</table>

		</div>
		
		<script src="../js/page/routing-advanced.js?v=1.0"></script>
	</div>
</body>
<div id="to_top"></div>
<div id="float_btn1" class="sec_float_btn1">
</div>
<div  class="float_close" onclick="close_btn()" >
</div>
</html>