<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">

			<h4 id="modify_a_group_h4"></h4>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script>

			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="routing_groups_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>

			<table width="100%" class="tedit" >
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_group_name"></span>:
							<span id="lang_group_name_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input type='text' name='group_name' id='group_name' value='' /><span id='cgroup_name'></span>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_type"></span>:
							<span id="lang_type_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<select name='type' id='type' onchange='typechange()'>
							<option id="type_fxo" value='fxo' >FXO</option>
							<option id="type_sip" value='sip' >SIP</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_policy"></span>:
							<span id="lang_policy_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<select name='policy' id='policy'>
							<option value='ascending' >Ascending</option>
							<option value='descending' >Descending</option>
							<option value='roundrobin' >Roundrobin</option>
							<option value='reverseroundrobin' >Reverse Roundrobin</option>
						</select>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_members"></span>:
							<span id="lang_members_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<span id='span_fxo_members' style='display: none;' ></span>
						<span id='span_sip_members' style='display: none;' ></span>
						<span id="members_tip" style="margin-top:10px;display:inline-block;"></span>
					</td>
				</tr>
				<input type='hidden' id='order' value='' />
			</table>

			<br/>
			<input type="submit" class="save_input" value="Save" />
			&nbsp;
			<input type="button" class="cancel_input" value="Cancel" onclick="cancel();" />
			<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>

		</div>
		
		<script src="../js/page/routing-groups-edit.js?v=1.3"></script>
	</div>
</body>
</html>