<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		<script type="text/javascript" src="../js/check.js"></script>
		<script type="text/javascript" src="/js/functions.js"></script>
		<link type="text/css" href="/css/jquery.ibutton.css" rel="stylesheet" media="all" />
		<script type="text/javascript" src="/js/jquery.ibutton.js"></script>
		<script type="text/javascript" src="/js/zoomify.js"></script>
		<link rel="stylesheet"  href="/css/zoomify.css" />
		
		<div id="lps">
			
			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_networking')" id="tab_networking_li">&nbsp;</li>
				<li class="tbg_fold" onclick="lud(this,'tab_networking')" id="lang_set_information"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_networking')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			
			<div style="clear:both;"></div>
			
			<div id="newline"></div>
			
			<div id="tab_networking" style="display:block">
				<table width="98%" class="tedit" >
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_switch"></span>:
								<span class="showhelp" id="lang_switch_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="switch" id="switch" />
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_product_name"></span>:
								<span class="showhelp" id="lang_product_name_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="product_name" id="product_name" value="" />
							<span id="cproduct_name"></span>
						</td>
					</tr>
				
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_contact_address"></span>:
								<span class="showhelp" id="lang_contact_address_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="address" id="address" value="" style="width:600px;"/>
							<span id="caddress"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_tel"></span>:
								<span class="showhelp" id="lang_tel_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="tel" id="tel" value="" />
							<span id="ctel"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_fax"></span>:
								<span class="showhelp" id="lang_fax_help"></span>
							</div>
						</th>
						<td >
							<input type="text" id="fax" name="fax" value="" />
							<span id="cfax"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_email"></span>:
								<span class="showhelp" id="lang_email_help"></span>
							</div>
						</th>
						<td >
							<input type="text" id="email" name="email" value="" />
							<span id="cemail"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_web_site"></span>:
								<span class="showhelp" id="lang_web_site_help"></span>
							</div>
						</th>
						<td >
							<input type="text" id="web_site" name="web_site" value="" />
							<span id="cweb_site"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_copyright"></span>:
								<span class="showhelp" id="lang_copyright_help"></span>
							</div>
						</th>
						<td>
							<textarea id="copyright" name="copyright" style="width:600px;height:100px;"></textarea>
							<span id="ccopyright"></span>
						</td>
					</tr>
					
					<form id="img_form" action="/service" method="post" enctype="multipart/form-data">
						<input type="hidden" name="action" value="upload" />
						<input type="hidden" name="page_name" value="set-info" />
						<input type="hidden" name="type" value="upload" />
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_header_image"></span>(1280x417):
									<span class="showhelp" id="lang_header_image_help"></span>
								</div>
							</th>
							<td class="zoom_img" style="height:168px;">
								<input type="file" id="header_image" name="uploadfile1" onchange="HeaderImg_change();"/>
								<img id="imgheader" src="" height="168" width="512" />
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_footer_image"></span>(1280x105):
									<span class="showhelp" id="lang_footer_image_help"></span>
								</div>
							</th>
							<td class="zoom_img" style="height:53px;">
								<input type="file" id="footer_image" name="uploadfile2" onchange="FooterImg_change();" />
								<img id="imgfooter" src="" height="50" width="600" />
							</td>
						</tr>
					</form>
					
					<!--
					<tr>
						<th>
							<div class="helptooltips">
								<span class="lang_download_sample_images"></span>:
								<span class="showhelp" id="lang_download_sample_images_help"></span>
							</div>
						</th>
						<td style="height:53px;">
							<button onclick="document.getElementById('send').value='Download'" class="lang_download_sample_images"></button>
						</td>
					</tr>
					-->
				</table>
			
				<div id="newline"></div>
				
				<input type="button" id="submit" value="" />
			
			
			<script src="../js/page/set-info.js"></script>
		</div>
</body>
</html>