<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/float_btn.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			
			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_networking')" id="tab_networking_li">&nbsp;</li>
				<li id="networking_li" class="tbg_fold" onclick="lud(this,'tab_networking')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_networking')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>

			<div id="tab_networking" style="display:block">
				<!-- Networking General begin -->
				<table id="tab_networking_general" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td class="lang_general" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_udp_bind_port"></span>:
								<span id="lang_udp_bind_port_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' id='udp_bind_port' name='udp_bind_port' value='' />
							<span id="cudp_bind_port" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_enable_tcp"></span>:
								<span id="lang_enable_tcp_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='enable_tcp' id='enable_tcp' onchange='enable_tcp_change();' >
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_tcp_bing_port"></span>:
								<span id="lang_tcp_bing_port_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' id='tcp_bind_port' name='tcp_bind_port' value='' />
							<span id="ctcp_bind_port" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_tcp_authentication_timeout"></span>:
								<span id="lang_tcp_authentication_timeout_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' id='tcp_authentication_timeout' name='tcp_authentication_timeout' value='' />
							<span id="ctcp_authentication_timeout" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_tcp_authentication_limit"></span>:
								<span id="lang_tcp_authentication_limit_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' id='tcp_authentication_limit' name='tcp_authentication_limit' value='' />
							<span id="ctcp_authentication_limit" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_enable_hostname_lookup"></span>:
								<span id="lang_enable_hostname_lookup_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='enable_hostname_lookup' id='enable_hostname_lookup'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Networking General end -->
				
				<div id="newline"></div>

				<!-- Networking NAT Settings begin -->
				<table id="tab_networking_nat" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_nat_settings" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_local_network"></span>:
								<span id="lang_local_network_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input id='local_network' type='text' name='local_network' value='' style='width:300px;' />
							<input type='button' id="lang_add" name='send' value=""  onclick='addRow();'/>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_local_network_list"></span>:
								<span id="lang_local_network_list_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<table width='100%' class='tshow' id='tab_lnl'>
								<tr>
									<th id="lang_ip_range"></th>
									<th id="lang_action" style='width:10%'></th>
								</tr>
							</table>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_subscribe_network_change_event"></span>:
								<span id="lang_subscribe_network_change_event_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='subscribe_network_change_event' id='subscribe_network_change_event'>
								<option class="lang_no" value='0' ></option>
								<option class="lang_yes" value='1' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_match_external_address_locally"></span>:
								<span id="lang_match_external_address_locally_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='match_external_address_locally' id='match_external_address_locally'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_dynamic_exclude_static"></span>:
								<span id="lang_dynamic_exclude_static_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='dynamic_exclude_static' id='dynamic_exclude_static'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_externally_mapped_tcp_port"></span>:
								<span id="lang_externally_mapped_tcp_port_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='externally_mapped_tcp_port' id='externally_mapped_tcp_port' value='' />
							<span id="cexterntcpport" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_external_address" ></span>:
								<span id="lang_external_address_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='external_address' id='external_address' value='' />
							<span id='cexternal_address' class='number_tip'></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_external_hostname"></span>:
								<span id="lang_external_hostname_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='external_hostname' id='external_hostname' value='' />
							<span id="cexternal_hostname" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_hostname_refresh_internal"></span>:
								<span id="lang_hostname_refresh_internal_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='hostname_refresh_interval' id='hostname_refresh_interval' value='' />
							<span id="chostname_refresh_interval" class="number_tip"></span>
						</td>
					</tr>
				</table>
				<!-- Networking NAT Settings end -->
				
				<div id="newline"></div>
				
				<!-- Networking STUN Settings begin -->
				<table id="tab_networking_stun" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_stun_settings" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_enable_stun"></span>:
								<span id="lang_enable_stun_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='checkbox' name='stun_enable' id='stun_enable' />
							<span id="cstun_enable" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_port_stun"></span>:
								<span id="lang_port_stun_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='port_stun' id='port_stun' value='' />
							<span id="cport_stun" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_reflesh" ></span>:
								<span id="lang_reflesh_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='reflesh' id='reflesh' value='' />
							<span id="creflesh" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_server" ></span>:
								<span id="lang_server_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='server' id='server' value='' />
							<span id="cserver" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_stun_switch" ></span>:
								<span id="lang_stun_switch_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<span>
								<input type='checkbox' name='server_stunsw' id='server_stunsw' value='' />
								<span class='lang_server'></span>
							</span>
							<span style="margin-left:10px;">
								<input type='checkbox' name='client_stunsw' id='client_stunsw' value='' />
								<span class='lang_client'></span>
							</span>
							<span style="margin-left:10px;">
								<input type='checkbox' name='none_stunsw' id='none_stunsw' value='' />
								<span class='lang_none'></span>
							</span>
							<span id="cstun_switch" class="number_tip"></span>
						</td>
					</tr>
				</table>
				<!-- Networking STUN Settings end -->
				
				
				<div id="newline"></div>
				
				<!-- Networking RTP Settings begin -->
				<table id="tab_networking_rtp" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_rtp_settings" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_start_of_rtp_port_range"></span>:
								<span id="lang_start_of_rtp_port_range_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='start_of_rtp_port_range' id='start_of_rtp_port_range' value='' />
							<span id="cstart_of_rtp_port_range" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_end_of_rtp_port_range"></span>:
								<span id="lang_end_of_rtp_port_range_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='end_of_rtp_port_range' id='end_of_rtp_port_range' value='' />
							<span id="cend_of_rtp_port_range" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_rtp_timeout" ></span>:
								<span id="lang_rtp_timeout_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='rtptimeout' id='rtptimeout' value='' />
							<span id="crtptimeout" class="number_tip"></span>
						</td>
					</tr>
				</table>
				<!-- Networking RTP Settings end -->
			</div>
			
			<div id="newline"></div>
			
			<div id="tab">
				<li class="tb_fold" onclick="lud(this,'parsing_and_compatibility')" id="parsing_and_compatibility_li">&nbsp;</li>
				<li id="parsing_and_compatibility_li2" class="tbg_fold" onclick="lud(this,'parsing_and_compatibility')"></li>
				<li class="tb2_fold" onclick="lud(this,'parsing_and_compatibility')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			
			<div id="parsing_and_compatibility" style="display:none">
				
				<!-- Parsing and Compatibility General begin -->
				<table id="parsing_and_compatibility_general" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td class="lang_general" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_strict_rfc_interpretation"></span>:
								<span id="lang_strict_rfc_interpretation_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='strict_rfc_interpretation' id='strict_rfc_interpretation'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_send_compact_headers"></span>:
								<span id="lang_send_compact_headers_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='send_compact_headers' id='send_compact_headers'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_sdp_owner"></span>:
								<span id="lang_sdp_owner_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='sdp_owner' id='sdp_owner' value='' />
							<span id="csdp_owner" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_matching_priority"></span>:
								<span id="lang_matching_priority_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<select name="matching_priority" id="matching_priority">
								<option id="lang_from_number" value="0"></option>
								<option id="lang_extern_number" value="1"></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Parsing and Compatibility General end -->
				
				<div id="newline"></div>
				
				<!-- Parsing and Compatibility SIP Methods begin -->
				<table id="parsing_and_compatibility_sip_methods" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_sip_methods" colspan = 2></td>
					</tr>
					
					<tr>
						<th rowspan=14 >
							<div class='helptooltips'>
								<span id="lang_disallowed_sip_methods"></span>:
								<span id="lang_disallowed_sip_methods_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<span id="lang_ack"></span>
							<input type='checkbox' id="ack_checked" class='disallow_sip' value='ACK' />
						</td>
					</tr>
						
					<tr>
						<td>
							<span id="lang_bye"></span>
							<input type='checkbox' id="bye_checked" class='disallow_sip' value='BYE' />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_cancel"></span>
							<input type='checkbox' id="cancel_checked" class='disallow_sip' value='CANCEL'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_info"></span>
							<input type='checkbox' id="info_checked" class='disallow_sip' value='INFO'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_invite"></span>
							<input type='checkbox' id="invite_checked" class='disallow_sip' value='INVITE'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_message"></span>
							<input type='checkbox' id="message_checked" class='disallow_sip' value='MESSAGE' />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_notify"></span>
							<input type='checkbox' id="notify_checked" class='disallow_sip' value='NOTIFY'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_options"></span>
							<input type='checkbox' id="options_checked" class='disallow_sip' value='OPTIONS'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_prack"></span>
							<input type='checkbox' id="prack_checked" class='disallow_sip' value='PRACK'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_publish"></span>
							<input type='checkbox' id="publish_checked" class='disallow_sip' value='PUBLISH'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_refer"></span>
							<input type='checkbox' id="refer_checked" class='disallow_sip' value='REFER'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_register"></span>
							<input type='checkbox' id="register_checked" class='disallow_sip' value='REGISTER'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_subscribe"></span>
							<input type='checkbox' id="subscribe_checked" class='disallow_sip' value='SUBSCRIBE'  />
						</td>
					</tr>
					
					<tr>
						<td>
							<span id="lang_update"></span>
							<input type='checkbox' id="update_checked" class='disallow_sip' value='UPDATE'  />
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_hangup_cause_code"></span>:
								<span class="showhelp" id="lang_hangup_cause_code_help">
								</span>
							</div>
						</th>
						<td>
							<select id="hangupcausecode">
								<option value="0" id="lang_default" ></option>
								<option value="1" id="lang_404" ></option>
								<option value="3" id="lang_420" ></option>
								<option value="17" id="lang_486" ></option>
								<option value="18" id="lang_408" ></option>
								<option value="19" id="lang_480" ></option>
								<option value="21" id="lang_403" ></option>
								<option value="22" id="lang_410" ></option>
								<option value="27" id="lang_502" ></option>
								<option value="28" id="lang_484" ></option>
								<option value="29" id="lang_501" ></option>
								<option value="38" id="lang_500" ></option>
								<option value="42" id="lang_503" ></option>
								<option value="58" id="lang_488" ></option>
								<option value="127" id="lang_603" ></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Parsing and Compatibility SIP Methods end -->
				
				<div id="newline"></div>

				<!-- Parsing and Compatibility Caller ID begin -->
				<table id="parsing_and_compatibility_caller_id" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_caller_id" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_shrink_caller_id"></span>:
								<span id="lang_shrink_caller_id_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='shrink_caller_id' id='shrink_caller_id'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id='lang_sip_from'></span>:
								<span id='lang_sip_from_help' class='showhelp'></span>
							</div>
						</th>
						<td>
							<select name='sip_from' id='sip_from'>
								<option value='Name'>Name</option>
								<option value='Number'>Number</option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Parsing and Compatibility Caller ID end -->
				
				<div id="newline"></div>
				
				<!-- Parsing and Compatibility Callee ID begin -->
				<table width="98%" class="tedit" align="right">
					<tr class="ttitle">
						<td class="lang_callee_id" colspan = 2></td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_sip_to"></span>:
								<span id="lang_sip_to_help" class="showhelp"></span>
							</div>
						</th>
						<td >
							<select size=1 name="sipto" id="sipto">
								<option value="0" >Tel/Tel</option>
								<option value="1" >Tel/User</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span class="lang_callee_id"></span>:
								<span id="lang_callee_id_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<select size=1 id="callee_id_1" style="margin-right:10px;" >
								<option value="EXTEN">EXTEN</option>
								<option value="To">SIP To</option>
								<option value="From">SIP From</option>
							</select>
							<select size=1 id="callee_id_2" >
								<option value="Number">Number</option>
								<option value="Name">Name</option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Parsing and Compatibility Callee ID end -->
				
				<div id="newline"></div>
				
				<!-- Parsing and Compatibility Timer Configuration begin -->
				<table id="parsing_and_compatibility_timer_configuration" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_timer_configuration" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_maximum_registration_expiry"></span>:
								<span id="lang_maximum_registration_expiry_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='maximum_registration_expiry' id='maximum_registration_expiry' value='' />
							<span id="cmaximum_registration_expiry" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_minimum_registration_expiry"></span>:
								<span id="lang_minimum_registration_expiry_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='minimum_registration_expiry' id='minimum_registration_expiry' value='' />
							<span id="cminimum_registration_expiry" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_default_registration_expiry"></span>:
								<span id="lang_default_registration_expiry_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='default_registration_expiry' id='default_registration_expiry' value='' />
							<span id="cdefault_registration_expiry" class="number_tip"></span>
						</td>
					</tr>
				</table>
				<!-- Parsing and Compatibility Timer Configuration end -->
				
				<div id="newline"></div>
				
				<!-- Parsing and Compatibility Outbound Registrations begin -->
				<table id="parsing_and_compatibility_outbound_registrations" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_outbound_registrations" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_registration_timeout"></span>:
								<span id="lang_registration_timeout_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='registration_timeout' id='registration_timeout' value='' />
							<span id="cregistration_timeout" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_number_of_registration_attempts"></span>:
								<span id="lang_number_of_registration_attempts_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='number_of_registration_attemptsy' id='number_of_registration_attemptsy' value='' />
							<span id="cnumber_of_registration_attemptsy" class="number_tip"></span>
						</td>
					</tr>
				</table>
				<!-- Parsing and Compatibility Outbound Registrations end -->
				
			</div>

			<div id="newline"></div>

			<div id="tab">
				<li class="tb_fold" onclick="lud(this,'tab_security')" id="tab_security_li">&nbsp;</li>
				<li id="security_li" class="tbg_fold" onclick="lud(this,'tab_security')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_security')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div id="tab_security" style="display:none">
			
				<!-- Security Authentication Settings begin -->
				<table id="security_authentication_settings" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_authentication_settings" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_match_auth_username"></span>:
								<span id="lang_match_auth_username_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='match_auth_username' id='match_auth_username'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_realm"></span>:
								<span id="lang_realm_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='realm' id='realm' value='' />
							<span id="crealm" class="number_tip"></span>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_use_domain_as_realm"></span>:
								<span id="lang_use_domain_as_realm_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='use_domain_as_realm' id='use_domain_as_realm'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
						
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_always_auth_reject"></span>:
								<span id="lang_always_auth_reject_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='always_auth_reject' id='always_auth_reject'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_authenticate_options_requests"></span>:
								<span id="lang_authenticate_options_requests_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='authenticate_options_requests' id='authenticate_options_requests'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Security Authentication Settings end -->

				<div id="newline"></div>

				<!-- Security Guest Calling begin -->
				<table id="security_guest_calling" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_guest_calling" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_allow_guest_calling"></span>:
								<span id="lang_allow_guest_calling_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='allow_guest_calling' id='allow_guest_calling'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Security Guest Calling end -->
				
			</div>

			<div id="newline"></div>

			<div id="tab">
				<li class="tb_fold" onclick="lud(this,'media')" id="media_li">&nbsp;</li>
				<li id="media_li2" class="tbg_fold" onclick="lud(this,'media')"></li>
				<li class="tb2_fold" onclick="lud(this,'media')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div id="media" style="display:none;clear:both;height:207px;">
				<!-- Media ISDN Media Settings begin -->
				<table id="media_isdn_media_settings" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_isdn_media_settings" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_premature_media"></span>:
								<span id="lang_premature_media_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<select size=1 name='premature_media' id='premature_media'>
								<option class="lang_no" value='no' ></option>
								<option class="lang_yes" value='yes' ></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Media ISDN Media Settings end -->
				
				<div id="newline"></div>

				<!-- Media RTP for SIP begin -->
				<table width="98%" class="tedit" align="right">
					<tr class="ttitle">
						<td colspan="2" id="lang_rtp_for_sip"></td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_directmedia"></span>:
								<span class="showhelp" id="lang_directmedia_help"></span>
							</div>
						</th>
						<td>
							<select id="direct_media" name="direct_media">
								<option value="yes">yes</option>
								<option value="no">no</option>
								<option value="nonat">nonat</option>
								<option value="update">update</option>
								<option value="outgoing">outgoing</option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Media RTP for SIP end -->
				
				<div id="newline"></div>
				
				<!-- Media QoS/ToS begin -->
				<table id="media_qos_tos" width="98%" class="tedit" align="right">
					<tr class='ttitle'>
						<td id="lang_qos_tos" colspan = 2></td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_tos_for_sip_packets"></span>:
								<span id="lang_tos_for_sip_packets_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='tos_for_sip_packets' id='tos_for_sip_packets' value='' />
							<span id="ctos_for_sip_packets" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class='helptooltips'>
								<span id="lang_tos_for_rtp_packeds"></span>:
								<span id="lang_tos_for_rtp_packeds_help" class='showhelp'></span>
							</div>
						</th>
						<td>
							<input type='text' name='tos_for_rtp_packets' id='tos_for_rtp_packets' value='' />
							<span id="ctos_for_rtp_packets" class="number_tip"></span>
						</td>
					</tr>
				</table>
				<!-- Media QoS/ToS end -->
			</div>

			<br>
			<br>
			<table id="float_btn" class="float_btn">
				<tr id="float_btn_tr" class="float_btn_tr" >
					<td>
						<input type="button" class="save_input" value="" /> 
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
			<table id="float_btn2" style="border:none;" class="float_btn2">
				<tr id="float_btn_tr2" class="float_btn_tr2" >
					<td>
						<input type="button" id="float_button_1" class="float_short_button save_input" value="" />
					</td>
				</tr>
			</table>

		</div>
		
		<script src="../js/page/sip-adv-settings.js?v=1.6"></script>
	</div>
</body>
<div id="to_top"></div>
<div id="float_btn1" class="sec_float_btn1">
</div>
<div  class="float_close" onclick="close_btn()" >
</div>
</html>