<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
		
			<h3 id="feed_back_tip"></h3>
		
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="lang_new_label tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<span id="lang_commit_open_tip" style="color:red;margin-left:10px;display:none;"></span>
			
			<table width="100%" id="new_tag" class="tshow">
				<tr>
					<th style="text-align:right;padding-right:10px;">
						<div class="helptooltips">
							<span class="lang_new_label"></span>:
							<span id="lang_new_label_help" class='showhelp'></span>
						</div>
					</th>
					<td style="padding-left:10px;">
						<input type="text" id="tag_name" >
						<button type="button" id="new_tag_button" style="margin-left:10px;"></button>
					</td>
				</tr>
			</table>
			
			<br>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="lang_label" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<table width="100%" id="tag_list" class="tshow" style="margin-top:30px;">
				<th style="text-align:center;" width="1%">ID</th>
				<th id="lang_label_name" width="20%"></th>
				<th id="lang_actions" width="3%"></th>
				<tbody id="tag_content">
				</tbody>
			</table>
			
			<br/>
			<div class="pg"></div>
			<div style="clear:both;"></div>
			
		</div>
		
		<script src="../js/page/system-label.js?v=1.0"></script>
</div>
</body>
</html>