<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<!-- Web Login Settings begin -->
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="web_login_settings_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			<table id="web_login" width="100%" class="tedit" >
				<tr>
					<th>
						<div class='helptooltips'>
							<span class="lang_user_name"></span>:
							<span id="lang_user_name_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='user' type='text' name='user' style='width: 250px;' value='' /><span id='cuser'></span>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span class="lang_password"></span>:
							<span class="lang_password_help showhelp"></span>
						</div>
					</th>
					<td>
						<input id='pw1' type='password' name='pw1' style='width: 250px;' value='' />
						<span style="vertical-align:middle;display:inline-block;"><input type="checkbox" id="show_web_password" /></span>
						<span id='cpw1'></span>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_confirm_password"></span>:
							<span id="lang_confirm_password_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='pw2' type='password' name='pw2' style='width: 250px;' value='' />
						<span style="vertical-align:middle;display:inline-block;"><input type="checkbox" id="show_con_password" /></span>
						<span id='cpw2'></span>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_login_mode"></span>:
							<span id="lang_login_mode_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<select id='login_mode' name='login_mode' >
							<option value='http_https' >http and https</option>
							<option value='https' >only https</option>
							<option value='http' >only http</option>
						</select>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_http_port"></span>:
							<span id="lang_port_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='web_server_port' type='text' maxlength='5' name='web_server_port' style='width: 50px;' value='' oninput='this.value=this.value.replace(/[^\d]*/g,\'\')' onkeyup='this.value=this.value.replace(/[^\d]*/g,\'\')'/>
						<span id='cweb_server_port'></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_https_port"></span>:
							<span id="lang_https_port_help" class="showhelp"></span>
						</div>
					</th>
					<td>
						<input id="web_server_https_port" type="text" maxlength="5" name="web_server_https_port" style="width: 50px;" value="" oninput="this.value=this.value.replace(/[^\d]*/g,'')" onkeyup="this.value=this.value.replace(/[^\d]*/g,'')">
						<span id="cweb_server_https_port"></span>
					</td>
				</tr>
			</table>
			<!-- Web Login Settings end -->
			
			<br>

			<!-- SSH Login Settings begin -->
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="ssh_login_settings_li" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			<table id="ssh_login" width="100%" class="tedit" >
				<tr>
					<th>
						<div class='helptooltips'>
							<span id="lang_enable"></span>:
							<span id="lang_enable_help" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input type='checkbox' id='ssh_sw' name='ssh_sw' onchange='ssh_change(this.checked)' />
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span class="lang_user_name"></span>:
							<span id="lang_user_name_help_ssh" class='showhelp'></span>
						</div>
					</th>
					<td>
						<input id='ssh_user' type='text' name='ssh_user' style='width: 250px;' value='' /><span id='cssh_user'></span>
					</td>
				</tr>
					
				<tr>
					<th>
						<div class='helptooltips'>
							<span class="lang_password"></span>:
							<span class="lang_password_help showhelp"></span>
						</div>
					</th>
					<td>
						<input id='ssh_password' type='password' name='ssh_password' style='width: 250px;' value='' />
						<span style="vertical-align:middle;display:inline-block;"><input type="checkbox" id="show_password" /></span>
						<span id='cssh_password'></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class='helptooltips'>
							<span class="lang_port"></span>:
							<span id="lang_port_help_ssh" class='showhelp'></span>
						</div>
					</th>
					<td>12345</td>
				</tr>
			</table>
			<!-- SSH Login Settings end -->
			
			<br>

			<form id="lighttpd_restart" action="/service" method="get">
				<input type="hidden" name="action" value="lighttpd"/>
				<input type="hidden" id="login_type" name="type" value="" />
				<input type="button" id="save_login" class="save_input" value="" />
				<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
			</form>
		</div>
	
		<script src="../js/page/system-login.js?v=1.3"></script>
	</div>
</body>
</html>