<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script> 
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li id="lang_tr069_settings" class="tbg"></li>
				<li class="tb2">&nbsp;</li>
			</div>
			
			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_tr069"></span>:
							<span class="showhelp" id="lang_tr069_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="tr069_sw" id="tr069_sw" />
						<span id="ctr069_sw"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_server"></span>:
							<span class="showhelp" id="lang_server_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="server" id="server" value="" />
						<span id="cserver"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_username"></span>:
							<span class="showhelp" id="lang_username_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="username" id="username" value="" />
						<span id="cusername"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_password"></span>:
							<span class="showhelp" id="lang_password_help"></span>
						</div>
					</th>
					<td>
						<input type="password" name="password" id="password" value="" />
						<span id="cpassword"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_provisioning_code"></span>:
							<span class="showhelp" id="lang_provisioning_code_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="provisioning_code" id="provisioning_code" value="" />
						<span id="cprovisioning_code"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_model_name"></span>:
							<span class="showhelp" id="lang_model_name_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="model_name" id="model_name" value="" />
						<span id="cmodel_name"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_periodic_inform_enable"></span>:
							<span class="showhelp" id="lang_periodic_inform_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="periodic_enable" id="periodic_enable" />
						<span id="cperiodic_enable"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_periodic_inform_interval"></span>:
							<span class="showhelp" id="lang_periodic_inform_interval_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="periodic_interval" id="periodic_interval" value="" />
						<span class="lang_second"></span>
						<span id="cperiodic_interval"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_connection_request_url"></span>:
							<span class="showhelp" id="lang_connection_request_url_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="connection_request_url" id="connection_request_url" value="" />
						<span id="cconnection_request_url"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_connection_request_username"></span>:
							<span class="showhelp" id="lang_connection_request_username_help"></span>
						</div>
					</th>
					<td>
						<input type="text" name="connection_request_username" id="connection_request_username" value="" />
						<span id="cconnection_request_username"></span>
					</td>
				</tr>
				
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_connection_request_password"></span>:
							<span class="showhelp" id="lang_connection_request_password_help"></span>
						</div>
					</th>
					<td>
						<input type="password" name="connection_request_password" id="connection_request_password" value="" />
						<span id="cconnection_request_password"></span>
					</td>
				</tr>
				
				<tr class="connect2">
					<th>
						<div class="helptooltips">
							<span style="color:red">* &nbsp;</span>
							<span id="lang_connection_status"></span>:
							<span class="showhelp" id="lang_connection_status_help"></span>
						</div>
					</th>
					<td class="connect">		
							
					</td>
				</tr>
			</table>
			
			<br/>
			
			<input type="button" id="lang_save" value="" style="margin-top: 10px;" />
			<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
			<br/>

		</div>
	
		<script src="../js/page/adv-tr069.js"></script>
	</div>
</body>
</html>