<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all">
			<script type="text/javascript" src="../js/float_btn.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="lang_fxo_settings"></li>
				<li class="tb2">&nbsp;</li>
			</div>

			<!-- Busy detect begin -->
			
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_busydetect')" id="tab_busydetect_li">&nbsp;</li>
				<li class="tbg_fold lang_busy_detect" onclick="lud(this,'tab_busydetect')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_busydetect')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>

			<div id="tab_busydetect" >
				<table width="98%" class="tedit" align="right">
					<tr>
						<th>
							<div class="helptooltips">
								<span class="lang_busy_detect"></span>:
								<span class="showhelp" id="lang_busy_detect_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="busydetect" id="busydetect" onchange="busydetect_click()"/>
							<span id="cbusydetect"></span>
						</td>
					</tr>

					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_busy_count"></span>:
								<span class="showhelp" id="lang_busy_count_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="busycount" id="busycount" value="">
							<span id="cbusycount"></span>
						</td>
					</tr>

					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_busy_country"></span>:
								<span class="showhelp" id="lang_busy_country_help"></span>
							</div>
						</th>
						<td>
							<select name="busycountry" id="busycountry">
								<option value="cn" selected id="lang_cn"></option>
								<option value="tw" id="lang_tw"></option>
								<option value="jp" id="lang_jp"></option>
								<option value="kr" id="lang_kr"></option>
								<option value="us" id="lang_us"></option>
								<option value="de" id="lang_de"></option>
							</select>
							<span id="cbusycountry"></span>	
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_fxo_monitor"></span>:
								<span class="showhelp" id="lang_fxo_monitor_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="fxomon" id="fxomon" onchange="fxomon_click()"/>
							<span id="cfxomon"></span>
						</td>
					</tr>

					<tr id="tr_busy_pattern" style="display: none;">
						<th>
							<div class="helptooltips">
								<span id="lang_busy_tone_pattern"></span>:
								<span class="showhelp" id="lang_busy_tone_pattern_help"></span>
							</div>
						</th>
						<td>
							<table id="tbl_busy_pattern" width="100%" class="">
								<tr>
									<td>
										<input type="button" id="lang_addrow" value="" onclick="addRow_busypattern()">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
	
			<!-- Busy detect end -->
	
			<div id="newline"></div>
			
			<!-- Silence detect begin -->
			
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_silencedetect')" id="tab_silencedetect_li">&nbsp;</li>
				<li class="tbg_fold lang_silence_detect" onclick="lud(this,'tab_silencedetect')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_silencedetect')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>

			<div id="tab_silencedetect" >
				<table width="98%" class="tedit" align="right">
					<tr>
						<th>
							<div class="helptooltips">
								<span class="lang_silence_detect"></span>:
								<span class="showhelp" id="lang_silence_detect_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" name="silencedetect" id="silencedetect"  onchange="silencedetect_click()" />
							<span id="csilencedetect"></span>
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_threshold"></span>:
								<span class="showhelp" id="lang_threshold_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="silencethreshold" id="silencethreshold" value="" disabled="">
							<span id="csilencethreshold"></span>	
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_max_silence"></span>:
								<span class="showhelp" id="lang_max_silence_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="maxsilence" id="maxsilence" value="" disabled="">
							<span id="cmaxsilence"></span>	
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_rx_threshold"></span>:
								<span class="showhelp" id="lang_rx_threshold_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="rxthreshold" id="rxthreshold" value="" disabled="">
							<span id="crxthreshold"></span>	
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_tx_threshold"></span>:
								<span class="showhelp" id="lang_tx_threshold_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="txthreshold" id="txthreshold" value="" disabled="">
							<span id="ctxthreshold"></span>	
						</td>
					</tr>					
				</table>
			</div>
			<!-- Silence detect end -->
		
			<div id="newline"></div>
			
			<!-- Dahdi parameters begin -->
			
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_dahdiparam')" id="tab_dahdiparam_li">&nbsp;</li>
				<li class="tbg_fold" id="lang_dahdi_parameters" onclick="lud(this,'tab_dahdiparam')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_dahdiparam')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			
			<div id="tab_dahdiparam" >
				<table width="98%" class="tedit" align="right">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_polaritydebounce"></span>:
								<span class="showhelp" id="lang_polaritydebounce_help"></span>
							</div>
						</th>
						<td>
							<input type="text" name="polaritydebounce" id="polaritydebounce" value="">ms 
							<span id="cpolaritydebounce"></span>
						</td>	
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_ringdebounce"></span>:
								<span class="showhelp" id="lang_ringdebounce_help"></span>
							</div>
						</th>
						<td> 
							<input type="text" name="ringdebounce" id="ringdebounce" value="">ms 
							<span id="cringdebounce"></span>
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_ringoncount"></span>:
								<span class="showhelp" id="lang_ringoncount_help"></span>
							</div>  
						</th>
						<td>
							<input type="text" name="ringoncount" id="ringoncount" value=""><span class="lang_times"></span>
							<span id="cringoncount"></span>
						</td>	
					</tr>
					<tr>
						<th>
							 <div class="helptooltips">
								<span id="lang_ringoffcount"></span>:
								<span class="showhelp" id="lang_ringoffcount_help"></span>
							</div>  
						</th>
						<td>
							<input type="text" name="ringoffcount" id="ringoffcount" value=""><span class="lang_times"></span>
							<span id="cringoffcount"></span>
						</td>	
				
					</tr>
				</table>
				<div style="clear:both;"></div>
			</div>
			
			<!-- Dahdi parameters end -->
			
			<div id="newline"></div>

			<table id="float_btn" class="float_btn" style="border:none;">
				<tr id="float_btn_tr" class="float_btn_tr" >
					<td>
						<input type="button" class="lang_save" value="" onclick="return check();">
					</td>
					<td>
						<input type="button" class="lang_cancel" value="" onclick="location.reload()">
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
			
			<table id="float_btn2" style="border: none;" class="float_btn2">
				<tr id="float_btn_tr2" class="float_btn_tr2" >
					<td style="width:51px;">
						<input type="button" id="float_button_1" class="float_short_button lang_save" value="" onclick="return check();">
					</td>
					<td>
						<input type="button" id="float_button_2" class="float_short_button lang_cancel" value="" onclick="location.reload()" >
					</td>
				</tr>
			</table>
		</div>
		<script src="../js/page/alg-fxoparam.js?v=1.3"></script>
	</div>
</body>
</html>
<div id="to_top"></div>
<div id="float_btn1" class="sec_float_btn1">
</div>
<div class="float_close" onclick="close_btn()" >
</div>