<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			
			<h3 id="feed_back_tip"></h3>
			
			<textarea name="all_matching_rules" id="all_matching_rules" style="width:49%;font-size:14px;Line-height:1.5;" clos="20" rows="25" ></textarea>
			
			<textarea name="helpinfo" class="list_bg_color_td" id="helpinfo" style="width:49%;font-size:14px;Line-height:1.5;border:none" clos="20" rows="25" readonly></textarea>
			
			<div id="newline"></div>
			
			<input type="submit" class="save_input" value="" />&nbsp;
			<input type="button" class="save_cancel cancel_input" value="" onclick="location.reload()" />
			<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
		</div>
		
		<script src="../js/page/alg-dialtable.js?v=1.0"></script>
	</div>
</body>
</html>