<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		<script type="text/javascript" src="../js/check.js"></script>
		<script type="text/javascript" src="/js/functions.js"></script>
		<link type="text/css" href="/css/jquery.ibutton.css" rel="stylesheet" media="all" />
		<script type="text/javascript" src="/js/jquery.ibutton.js"></script>
		
		<div id="lps">
			
			<h3 id="feed_back_tip"></h3>
			
			<table width="98%" class="tedit" >
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_demo_enable"></span>:
							<span class="showhelp" id="lang_demo_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" name="demo_enable" id="demo_enable" />
					</td>
				</tr>
			</table>
			
			<div id="newline"></div>
			
			<input type="button" id="save_input" value="" />
			
			<script src="../js/page/internal_access.js"></script>
		</div>
	</div>
</body>
</html>