<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/functions.js"></script>
			<link type="text/css" href="../css/jquery-ui-1.10.2.custom.all.css" rel="stylesheet" media="all"/>
			<link type="text/css" href="../css/jquery-ui-timepicker-addon.css" rel="stylesheet" media="all"/>
			<script type="text/javascript" src="../js/jquery-ui-1.10.2.custom.all.min.js"></script>
			<script type="text/javascript" src="../js/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="../js/jquery-ui-sliderAccess.js"></script>
			
			<h3 id="feed_back_tip"></h3>
			
			<!-- filter table -->
			<table width="100%" class="tsort" id="log_cdr_sort">
				<tr>
					<th style="width:03%" class="nosort"></th>
					<th class="lang_caller_id" style="width:12%" class="nosort"></th>
					<th class="lang_callee_id" style="width:12%" class="nosort"></th>
					<th class="lang_from" style="width:14%" class="nosort"></th>
					<th class="lang_to" style="width:14%" class="nosort"></th>
					<th class="lang_start_time" style="width:20%" class="nosort"></th>
					<th class="lang_duration" style="width:14%" class="nosort"></th>
					<th class="lang_result" style="width:12%" class="nosort"></th>
				</tr>
				
				<tr>
					<td></td>
					<td>
						<input type="text" style="width:95%" id="caller_from_filter" value="" >
					</td>
					<td>
						<input type="text" style="width:95%" id="caller_to_filter" value="" >
					</td>
					<td>
						<input type="text" style="width:95%" id="channel_from_filter" value="" >
					</td>
					<td>
						<input type="text" style="width:95%" id="channel_to_filter" value="" >
					</td>
					<td>
						<input type="text" style="width:45%;margin-right:4px;" id="starttime_from_filter" value="" >
						<input type="text" style="width:45%" id="starttime_to_filter" value="">
					</td>
					<td>
						<input type="text" style="width:40%;margin-right:4px;" id="duration_from_filter" value="" >
						<input type="text" style="width:40%" id="duration_to_filter" value="" >
					</td>
					<td id="result_selete"></td>
				</tr>
			</table>
			
			<br/>
			<input type="button" class="filter_input save_input" value="" onclick='filter();'/>
			<input type="button" class="clean_filter_input save_input" onclick='clear_filter();' value=""/>
			<br/>
			<br/>
			<!-- CDR list -->

			<span id="total_records_span" style="font-weight:bold"></span>
			<table width="100%" class="tsort" id="log_cdr_content">
				<input type="hidden" id="current_page_flag" name="page" value="" />
				<input type="hidden" id="sort_flag" name="_sort" value="" />
				<input type="hidden" id="order_flag" name="order" value="" />
				<input type="hidden" id="caller_from_filter_flag" name="caller_from_filter" value="" />
				<input type="hidden" id="caller_to_filter_flag" name="caller_to_filter" value="" />
				<input type="hidden" id="channel_from_filter_flag" name="channel_from_filter" value="" />
				<input type="hidden" id="channel_to_filter_flag" name="channel_to_filter" value="" />
				<input type="hidden" id="starttime_from_filter_flag" name="starttime_from_filter" value="" />
				<input type="hidden" id="starttime_to_filter_flag" name="starttime_to_filter" value="" />
				<input type="hidden" id="duration_from_filter_flag" name="duration_from_filter" value="" />
				<input type="hidden" id="duration_to_filter_flag" name="duration_to_filter" value="" />
				<input type="hidden" id="result_filter_flag" name="result_filter" value="" />
			</table>
			
			<br/>
			<div class="pg"></div>
			
			<div id="newline"></div>
			<br>

			<input type="button" class="delete_input save_input" value='Delete' /> 
			<input type="button" class="clean_up_input save_input" value='Clean Up' /> 
			
			<form class="cdr_form" style="display:inline-block;" action='/service' method='post' >
				<input type="hidden" name="action" value="download" />
				<input type="hidden" name="page_name" value="cdr" />
				<input type="hidden" class="downloadfile" name="downloadfile" value="" />
				<input type="button" class="export_input" value='Export' />
			</form>
			
			<div id="newline"></div>

		</div>
		
		<script src="../js/page/log-cdr.js?v=1.0"></script>
	</div>
</body>
</html>