<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script> 
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all">
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			<link type="text/css" href="../css/jquery-ui-1.10.2.custom.all.css" rel="stylesheet" media="all">
			<script type="text/javascript" src="../js/jquery-ui-1.10.2.custom.all.min.js"></script>	

			<h3 id="feed_back_tip"></h3>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>
				<li class="tbg" id="lang_firewall_settings"></li>
				<li class="tb2">&nbsp;</li>
			</div>

			<table width="100%" class="tedit">
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_firewall_enable"></span>:
							<span class="showhelp" id="lang_firewall_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" id="firewall_sw" name="firewall_sw" onchange="firewall_change(this.checked)" />
					</td>
				</tr>
				<tr>
					<th>
						<div class="helptooltips">
							<span id="lang_ping_enable"></span>:
							<span class="showhelp" id="lang_ping_enable_help"></span>
						</div>
					</th>
					<td>
						<input type="checkbox" id="ping_sw" name="ping_sw" />
					</td>
				</tr>
			</table>
			
			<br>
			
			<div class="ip_list_ctl" id="ip_list" style="">	
				<div id="tab">
					<li class="tb1">&nbsp;</li>
					<li class="tbg" id="lang_white_list_settings"></li>
					<li class="tb2">&nbsp;</li>
				</div>

				<table width="100%" class="tedit" id="tb_white_list">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_white_list_enable"></span>:
								<span class="showhelp" id="lang_white_list_enable_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" width="100%" id="white_sw" name="white_sw" onchange="white_change(this.checked)" />
						</td>
					</tr>
					<tr id="white_list_ctl" style="">
						<th>
							<div class="helptooltips">
								<span class="lang_list_ip_settings"></span>:
								<span class="showhelp" class="lang_list_ip_settings_help"></span>
							</div>
						</th>
						<td>
							<textarea id="white_ip" name="white_ip" width="100%" rows="5" cols="80"></textarea>
							<span id="white_tips"></span>
						</td>
					</tr>
				</table>
				
				<br>
				
				<div id="tab">
					<li class="tb1">&nbsp;</li>
					<li class="tbg" id="lang_black_list_settings"></li>
					<li class="tb2">&nbsp;</li>
				</div>

				<table width="100%" class="tedit">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_black_list_enable"></span>:
								<span class="showhelp" id="lang_black_list_enable_help"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" id="black_sw" name="black_sw" onchange="black_change(this.checked)" />
						</td>
					</tr>
					<tr id="black_list_ctl" style="">
						<th>
							<div class="helptooltips">
								<span class="lang_list_ip_settings"></span>:
								<span class="showhelp" class="lang_list_ip_settings_help"></span>
							</div>
						</th>
						<td>
							<textarea id="black_ip" name="black_ip" width="100%" rows="5" cols="80"></textarea>
							<span id="black_tips"></span>
						</td>
					</tr>
				</table>
			</div>
	
			<br>
			
			<div id="preview_dg" title="Firewall Rules Apply" >
				<div>
					<div id="redmsg" style="display:block;width:470px;margin:0 auto;" contenteditable="false"></div>
					<div id="timemsg" style="display:block;width:470px;margin:0 auto" contenteditable="false"></div>
				</div>
			</div>
			<div id="float_btn" class="float_btn">
				<div id="float_btn_tr" class="float_btn_tr" >
					<input type="button" id="lang_save" class="save_input" value="" onclick="return check();">
					<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
				</div>
			</div>
			<script src="../js/page/network-switch.js?v=1.1"></script>
		</div>
	</div>
</body>
</html>