<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<script type="text/javascript" src="../js/functions.js"></script>
		<link type="text/css" href="/css/jquery-ui-1.10.2.custom.all.css" rel="stylesheet" media="all"/>
		<script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.all.min.js"></script>

		<div id="lps">
			
			<table width="100%" class="tedit" >
				<tr>
					<td>
						<div class='helptooltips'>
							<span class="lang_interface"></span>:
							<span class="lang_interface_help showhelp"></span>
						</div>
						<select name='interface' id='interface'></select>
					</td>
				</tr>
				
				<tr>
					<td>
						<input type="text" id="ping_hostname" name="ping_hostname" value="" />
						<input type="button" id="lang_ping" class="save_input" value="" onclick="return checkValue(document.getElementById('ping_hostname').value);"/>
					</td>
				</tr>
						
				<tr>
					<td>
						<input type="text" id="tracert_hostname" name="tracert_hostname" value="" />
						<input type="button" id="lang_traceroute" class="save_input" value="" onclick="return checkValue(document.getElementById('tracert_hostname').value);"/>
					</td>
				</tr>
			</table>
			
			<br>
			
			<div id="tab">
				<li class="tb1">&nbsp;</li>	
				<li id="lang_channel_recording" class="tbg"></li>
				<li class="tb2">&nbsp;</li> 
			</div>
			
			<table width="100%" class="tedit">
				<tbody>
					<tr>
						<th>
							<div class="helptooltips">
								<span class="lang_interface"></span>:
								<span class="lang_interface_help showhelp"></span>
							</div>
						</th>
						<td>
							<select name="interface_type" id="interface_type">
								<option value="2" selected="selected">all</option>
							</select>
							<span id="cinterface_type"></span>
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_source_host"></span>:
								<span id="lang_source_host_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<textarea id="source_host" name="source_host" width="100%" rows="3" cols="80"></textarea>
							<span id="csource_host"></span>
						</td>
					</tr>
					<tr>
						<th>
						<div class="helptooltips">
							<span id="lang_destination_host"></span>:
							<span id="lang_destination_host_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<textarea id="dest_host" name="dest_host" width="100%" rows="3" cols="80"></textarea>
							<span id="cdest_host"></span>
						</td>
					</tr>
					<tr>
						<th>
						<div class="helptooltips">
							<span id="lang_port"></span>:
							<span id="lang_port_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input id="cap_port" type="text" name="cap_port" value="">
							<span id="ccap_port" class="number_tip"></span>
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_tcpdump"></span>:
								<span id="lang_tcpdump_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<table width="100%" class="tedit" id="tbl_fctn" align="right">
								<tbody>
									<tr>
										<td colspan="2">
											<input type="button"  id="lang_add_tcpdump_option" name="add_tcpdump_option" value="" onclick="tcpdump_param_addRow();">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			
			<br>
			
			<input type="button" id="lang_start" class="save_input" value="" align="middle" onclick="preview_dialog()">
			
			<div id="preview_dg" title="Capture Network Data" style="display:none;width:470px;height:100px">
				<div>
					<div id="timemsg" style="display:block;width:470px;height:100px;margin:0" contenteditable = "false">
						<div id="time" ></div>
						<div id="prompt_info"></div>
					</div>
				</div>
				<form id="toolkit_form" action="/service" method="post">
					<input type="hidden" name="action" value="download" />
					<input type="hidden" name="downloadfile" value="toolkit" />
					<input type="hidden" name="page_name" value="network-toolkit" />
				</form>
			</div>
			
			<div id="result" style="margin-top:20px;"></div>
		</div>
		
		<script src="../js/page/network-toolkit.js?v=1.2"></script>
	</div>
</body>
</html>