<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>

<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all">
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script>
	
				<h3 id="feed_back_tip"></h3>
			
				<div id="newline"></div>
					<div id="tab">
					<li class="tb_unfold" onclick="lud(this,'tab_read_reg_param')" id="tab_read_reg_param_li">&nbsp;</li>
					<li class="tbg_fold" id="lang_reading_register_value" onclick="lud(this,'tab_read_reg_param')"></li>
					<li class="tb2_fold" onclick="lud(this,'tab_read_reg_param')">&nbsp;</li>
					<li class="tb_end">&nbsp;</li>
				</div>
				
				<div id="tab_read_reg_param" style="display:block">
					<table width="98%" class="tedit" align="right">
						<tr>
							<td class="lang_channel"></td>
							<td>
								<select name="channel_number_n" id="channel_number_n"></select>
							</td>
							
							<td align="right" id="lang_register_number"></td>	
							<td><input type="text" name="chan_register_num_n" id="chan_register_num_n" value=""></td>
							
							<td id="lang_register_value"></td>
							<td><input type="text" name="chan_register_value_n" id="chan_register_value_n" value="" disabled=""></td>
							
							<td><input type="button" id="lang_read" value="Read" onclick="read_check();"></td>
						</tr>
					</table>
				</div>
				
				<div id="newline"></div>
				
				<div id="tab">
					<li class="tb_unfold" onclick="lud(this,'tab_setregister')" id="tab_setregister_li">&nbsp;</li>
					<li class="tbg_fold" id="lang_settings_register" onclick="lud(this,'tab_setregister')"></li>
					<li class="tb2_fold" onclick="lud(this,'tab_setregister')">&nbsp;</li>
					<li class="tb_end">&nbsp;</li>
				</div>
				
				<div id="tab_setregister" style="display:block">
					<table width="98%" class="tedit" align="right">
						<tr>
							<th>
								<div class="helptooltips">
									<span class="lang_channel"></span>:
									<span class="showhelp" id="lang_channel_help"></span>
								</div>
							</th>
							<td>
								<select name="channel_number" id="channel_number"></select>
								<span id="cchannel_number"></span>
							</td>
						</tr>
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_register"></span>:
									<span class="showhelp" id="lang_register_help"></span>
								</div>
							</th>
							<td>
								<input type="text" name="chan_register_num" id="chan_register_num" value="">
								<span id="cchan_register_num"></span>
							</td>
						</tr>
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_value"></span>:
									<span class="showhelp" id="lang_value_help"></span>
								</div>
							</th>
							<td>
								<input type="text" name="chan_register_value" id="chan_register_value" value="">
								<span id="cchan_register_value"></span>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="newline"></div>
				
				<table id="float_btn" class="float_btn">
					<tr id="float_btn_tr" class="float_btn_tr" style="display: block;">
						<td>
							<input type="button" id="lang_save" value="" onclick="return check();">
						</td>
						<td>
							<input type="button" id="lang_cancel" value="" onclick="location.reload()">
						</td>
					</tr>
				</table>
	
		</div>
		<script src="../js/page/register-param.js"></script>
	</div>
</body>
</html>