<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
	
		<div id="lps">
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script> 
			<script type="text/javascript" src="../js/jquery-ui-1.10.2.custom.all.min.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<table width="100%" id="tab_routings" class="tdrag">
				<tr>
					<th style="width:03%" class="nosort">
						<input type="checkbox" name="selall" onclick="selectAll(this.checked,'rules[]')" />
					</th>
					<th id="lang_move" width="4%"></th>
					<th id="lang_order" width="6%"></th>
					<th id="lang_rule_name" width="20%"></th>
					<th id="lang_from" width="30%"></th>
					<th id="lang_to" width="30%"></th>
					<th id="lang_actions" width="07%"></th>
				</tr>
				<tbody id="content">
				</tbody>
			</table>
			<br>
			
			<a id="new_routing_rule_a" href="" style="margin-right:10px;text-decoration:none;">
				<input id="lang_new_call_routing_rule" class="save_input" type="button" value="" />
			</a>
			<input type="button" id="lang_delete" style="margin-right:10px;" class="delete_input save_input" value="" />
			<input type="button" id="save_orders_input" class="save_input" value="" />
		</div>
	
		<script src="../js/page/routing-rules.js?v=1.1"></script>
	</div>
</body>
</html>