<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/float_btn.js"></script>
			<script type="text/javascript" src="../js/md5.min.js"></script>

			<h3 id="feed_back_tip"></h3>
			
			<table width="100%" class="tshow">
				<tr>
					<th style="width:03%" class="nosort">
					<input type="checkbox" id="selall" name="selall" />
					</th>		
					<th id="id_th" width="7%"></th>
					<th id="username_th" width="20%"></th>
					<th id="password_th" width="20%"></th>
					<th id="hostname_ip_th" width="20%"></th>
					<th id="port_th" width="20%"></th>
					<th id="register_mode_th" width="10%"></th>
				</tr>
				
				<tr>
					<td class="list_bg_color"></td>
					<td class="list_bg_color"><input type="hidden" class="channel_name" value="0"></td>
					<td class="list_bg_color"><input type=text name='username0' id='username0' style='width: 100px;' /></td>
					<td class="list_bg_color"><input type=text name='passwd0' id='passwd0' style='width: 100px;' /></td>
					<td class="list_bg_color"><input type=text name='ipaddr0' id='ipaddr0' style='width: 110px;' /></td>
					<td class="list_bg_color"><input type=text name='port0' id='port0' style='width: 100px;' /></td>
					<td class="list_bg_color">
						<select size=1 class='register_mode' id='register_mode0' >
						<option value='client'>client</option>
						<option value='server'>server</option>
						<!--<option value='none'>none</option>-->
						</select>
					</td>
				</tr>
			</table>
			<div id="newline"></div>
			
			<table id="float_btn" class="float_btn">
				<tr id="float_btn_tr" class="float_btn_tr" style="">
					<td>
						<input type="button" name="sendlabel" class="save_input save_click" id="sendlabel" value="Save" />
					</td>
					<td>
						<input type="button" class="cancel_input" value="Cancel" onclick="location.reload()" />
					</td>
					<td>
						<input type="button" class="batch_input save_input" value="Batch" />
					</td>
					<td>
						<input type="checkbox" id="password_auto" name="password_auto" checked=true/>
						<span class="password_auto_input"></span>
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
			<table id="float_btn2" style="border:none;" class="float_btn2">
				<tr id="float_btn_tr2" class="float_btn_tr2" style="">
					<td style="width:51px;">
						<input type="button" id="float_button_1" class="float_short_button save_input save_click" value="Save" />
					</td>
					<td style="width:51px;">
						<input type="button" id="float_button_2" class="float_short_button cancel_input" value="Cancel" onclick="location.reload()" />
					</td>
					<td style="width:51px;">
						<input type="button" id="float_button_3" class="float_short_button batch_input save_input" value="Batch" />
					</td>
					<td id="float_button_4" >
						<input type="checkbox" id="float_button_5" class="float_short_button" onclick="lock_button();" checked />
						<span class="password_auto_input"></span>
					</td>
				</tr>
			</table>
		</div>
		
		<script src="../js/page/sip-batch-endpoints.js?v=1.2"></script>
	</div>
</body>
<div id="to_top"></div>
<div id="float_btn1" class="sec_float_btn1">
</div>
<div class="float_close" onclick="close_btn()" >
</div>
</html>