<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!--<link rel="icon" href="../images/logo.ico" type="image/x-icon" />-->
<!--<link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon" />-->
<script src="../js/jquery.js"></script>
<script src="../js/cxf-utils.js"></script>
</head>
<body>
	<div id="bg">
		<script>$("#bg").prepend('<script src="../js/header.js?v='+Math.random()+'"><\/script>');</script>
		
		<div id="lps">
			<script type="text/javascript" src="../js/layer/layer.min.js"></script>
			<script type="text/javascript" src="../js/functions.js"></script>
			<script type="text/javascript" src="../js/md5.min.js"></script>
			<script type="text/javascript" src="../js/float_btn.js"></script>
			<h4 id="edit_h4" style="display:inline-block;">  </h4>
			<script type="text/javascript" src="../js/check.js"></script>
			<script type="text/javascript" src="../js/jquery.ibutton.js"></script>
			<link type="text/css" href="../css/jquery.ibutton.css" rel="stylesheet" media="all" />
		
			<!-- Main Endpoint Settings begin -->
			<div id="tab">
				<li class="tb_unfold" onclick="lud(this,'tab_main')" id="tab_main_li">&nbsp;</li>
				<li id="main_endpoint_li" class="tbg_fold" onclick="lud(this,'tab_main')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_main')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div id="tab_main" style="display:block">
				<table width="98%" id="main_setting" class="tedit" align="right">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_name"></span>
								:<span id="lang_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="text" name="endpoint_name" id="endpoint_name" value="" />
							<span id="cendpoint_name"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_username"></span>
								:<span id="lang_username_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="text" name="sip_username" id="sip_username" onchange="sip_username_change(this)" />
							<input type="checkbox" name="anonymous" id="anonymous" onclick="anonymous_click(this.checked)" /><span id="lang_anonymous"></span>
							<span id="csip_username" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_password"></span>
								:<span id="lang_password_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="password" name="sip_password" id="sip_password" />
							<span style="vertical-align:middle;display:inline-block;"><input type="checkbox" id="show_sip_password" /></span>
							<span id="csip_password" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_registration"></span>
								:<span id="lang_registration_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="registration_sync" name="registration_sync" title="Synchronization option"/>
							<select size=1 name="registration" id="registration" onchange="registration_change();registration_change_for_qualify();">
								<option id="lang_none" value="none" ></option>
								<option id="lang_server" value="server" ></option>
								<option id="lang_client" value="client" ></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_hostname_or_ip"></span>
								:<span id="lang_hostname_or_ip_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="host_sync" name="host_sync" title="Synchronization option"/>
							<input type="text" id="sip_ip" name="host" value="" onchange="sip_ip_change(this)" /><br>
							<span id="csip_ip" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_backup_hostname_or_ip"></span>
								:<span id="lang_backup_hostname_or_ip_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="sip_ip2_sync" name="sip_ip2_sync" title="Synchronization option"/>
							<input type="text" id="sip_ip2" name="sip_ip2" value="" /><br>
							<span id="csip_ip" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_port"></span>
								:<span id="lang_port_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="port_sync" name="port_sync" title="Synchronization option"/>
							<input type="text" id="port" name="port" value="" />
							<span id="cport" class="number_tip"></span>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_transport"></span>
								:<span id="lang_transport_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="transport_sync" name="transport_sync" title="Synchronization option"/>
							<select size=1 name="transport" id="transport" onchange="check_tlssetup()">
								<option value="udp"> UDP </option>
								<option value= "tcp"> TCP </option>
								<option value= "tls"> TLS </option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_nat"></span>
								:<span id="lang_nat_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="nat_sync" name="nat_sync" title="Synchronization option"/>
							<select size=1 name="nat" id="nat">
								<option class="lang_no" value= "no"></option>
								<option id="lang_force_report_on" value= "force_rport"></option>
								<option class="lang_yes" value= "yes" ></option>
								<option id="lang_report_requested_comedia" value= "comedia"></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_mwi"></span>
								:<span id="lang_mwi_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="mwi_sync" name="mwi_sync" title="Synchronization option"/>
							<select size=1 name="mwi" id="mwi">
								<option class="lang_no" value="no"></option>
								<option class="lang_yes" value="yes"></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_vos"></span>
								:<span id="lang_vos_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="vosencrypt_sync" name="vosencrypt_sync" title="Synchronization option"/>
							<select size=1 name="vosencrypt" id="vosencrypt">
								<option class="lang_no" value=0></option>
								<option class="lang_yes" value=2></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_stun_switch"></span>
								:<span id="lang_stun_switch_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type=checkbox name="stun_switch" id="stun_switch" />
						</td>
					</tr>
				</table>
			
				<div id="newline"></div>
				
				<!-- Advanced:Registration Option begin -->
				<div id="tab">
					<li class="tb_indent">&nbsp;</li>
					<li class="tb_fold" onclick="lud(this,'tab_adv_reg')" id="tab_adv_reg_li">&nbsp;</li>
					<li id="advanced_li" class="tbg_fold" onclick="lud(this,'tab_adv_reg')"></li>
					<li class="tb2_fold" onclick="lud(this,'tab_adv_reg')">&nbsp;</li>
					<li class="tb_end2">&nbsp;</li>
				</div>
				<div id="tab_adv_reg" style="display:none">
					<table width="96%" class="tedit" align="right" >
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_authentication_user"></span>
									:<span id="lang_authentication_user_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="text" name="authentication_user" id="authentication_user" value="" />
								<span id="cauthentication_user" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_register_extension"></span>
									:<span id="lang_register_extension_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="text" id="register_extension" name="register_extension" value="" readonly />
								<input type="checkbox" id="register_extension_readonly" name="register_extension_readonly" onclick="click_register_extension_readonly(this)"/>
								<span class="lang_modify"></span>
								<span id="cregister_extension" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_register_user"></span>
									:<span id="lang_register_user_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="register_user_sync" name="register_user_sync" title="Synchronization option"/>
								<input type="text" id="register_user" name="register_user" value="" readonly />
								<input type="checkbox" id="register_user_readonly" name="register_user_readonly" onclick="click_register_user_readonly(this)"/>
								<span class="lang_modify"></span>
								<span id="cregister_user" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_from_user"></span>
									:<span id="lang_from_user_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="fromuser_sync" name="fromuser_sync" title="Synchronization option"/>
								<input type="text" id="from_user" name="from_user" value="" readonly />
								<input type="checkbox" id="from_user_readonly" name="from_user_readonly" onclick="click_from_user_readonly(this)"/>
								<span class="lang_modify"></span>
								<span id="cfrom_user" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_from_domain"></span>
									:<span id="lang_from_domain_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="fromdomain_sync" name="fromdomain_sync" title="Synchronization option"/>
								<input type="text" name="fromdomain" id="from_domain" value="" />
								<span id="cfrom_domain" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_qualify"></span>
									:<span id="lang_qualify_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="qualify_sync" name="qualify_sync" title="Synchronization option"/>
								<select size=1 name="qualify" id="qualify">
									<option class="lang_no" value="no"></option>
									<option class="lang_yes" value="yes"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_qualify_frequency"></span>
									:<span id="lang_qualify_frequency_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="qualifyfreq_sync" name="qualifyfreq_sync" title="Synchronization option"/>
								<input type="text" name="qualifyfreq" id="qualifyfreq" value="" />
								<span id="cqualifyfreq" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_outbound_proxy"></span>
									:<span id="lang_outbound_proxy_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="outboundproxy_sync" name="outboundproxy_sync" title="Synchronization option"/>
								<input  type="text" id="outboundproxy" name="outboundproxy" value="" />:
								<input type="text" size=1 name="outboundproxy_port" id="outboundproxy_port" value=""/>
								<span id="coutboundproxy" class="number_tip"></span>
								<span id="coutboundproxy_port" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_custom_registery"></span>
									:<span id="lang_custom_registery_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type=checkbox name="registery_enable" id="registery_enable" onchange="registery_change()"/>
								<span id="registery_enable"></span>
							</td>
						</tr>
						
						<tr id="tr_registery_string">
							<th>
								<div class="helptooltips">
									<span id="lang_registery_string"></span>
									:<span id="lang_registery_string_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type=text name="registery_string" id="registery_string" value="" style="width:500px;" /> 
								<span id="cregistery_string" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_enable_to_host"></span>
									:<span id="lang_enable_to_host_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="enableoutboundtohost_sync" name="enableoutboundtohost_sync" title="Synchronization option"/>
								<input type=checkbox name="enableoutboundtohost" id="enableoutboundtohost" />
								<span id="registery_enable"></span>
							</td>
						</tr>
						
						<tr id="tls_dtlsverify" style="display:none">
							<th>
								<div class="helptooltips">
									<span id="lang_tlsverify"></span>
									:<span id="lang_tlsverify_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="tlsverify_sync" name="tlsverify_sync" title="Synchronization option"/>
								<select size=1 id="tlsverify" name="tlsverify" >
									<option class="lang_yes" value="yes"></option>
									<option class="lang_no" value="no"></option>
								</select>
							</td>
						</tr>
						
						<tr id="tls_dtlssetup" style="display:none">
							<th>
								<div class="helptooltips">
									<span id="lang_tlssetup"></span>
									:<span id="lang_tlssetup_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="tlssetup_sync" name="tlssetup_sync" title="Synchronization option"/>
								<select size=1 id="tlssetup" name="tlssetup" >
									<option value="incoming_and_outcoming">Incoming and Outcoming</option>
									<option value="incoming">Incoming Only</option>
									<option value="outcoming">Outcoming Only</option>
								</select>
							</td>
						</tr>
						
						<tr id="tls_dtlsprivatekey" style="display:none">
							<th>
								<div class="helptooltips">
									<span id="lang_tlsprivatekey"></span>
									:<span  id="lang_tlsprivatekey_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="tlsprivatekey_sync" name="tlsprivatekey_sync" title="Synchronization option"/>
								<input  type="text" name="tlsprivatekey" id="tlsprivatekey" value="" />
								<span id="ctlsprivatekey" class="number_tip"></span>
							</td>
						</tr>
						
						<tr id="tls_encryption" style="display:none">
							<th>
								<div class="helptooltips">
									<span id="lang_encryption"></span>
									:<span id="lang_encryption_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="encryption_sync" name="encryption_sync" title="Synchronization option"/>
								<select size=1 id="encryption" name="encryption" >
									<option value="yes">Yes (SRTP only)</option>
									<option value="no">No</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<!-- Advanced:Registration Option end -->
				
			</div>
			<!-- Main Endpoint Settings end -->
			
			<div id="newline"></div>
			
			<!-- Call Settings begin -->
			<div id="tab">
				<li class="tb_fold" onclick="lud(this,'tab_call_set')" id="tab_call_set_li">&nbsp;</li>
				<li id="call_settings_li" class="tbg_fold" onclick="lud(this,'tab_call_set')"></li>
				<li class="tb2_fold" onclick="lud(this,'tab_call_set')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div id="tab_call_set" style="display:none">
			
				<!-- Call Settings begin -->
				<table id="dtmf_setting" width="98%" class="tedit" align="right">
					<tr>
						<td id="lang_dtmf_settings" colspan = 2>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_dtmf_mode"></span>
								:<span id="lang_dtmf_mode_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="dtmfmode_sync" name="dtmfmode_sync" title="Synchronization option"/>
							<select size=1 id="dtmfmode" name="dtmfmode">
								<option id="lang_rfc2833" value="rfc2833" ></option>
								<option id="lang_inband" value="inband" ></option>
								<option id="lang_info" value="info" ></option>
							</select>
						</td>
					</tr>
				</table>
				
				<table id="call_limit" width="98%" class="tedit" align="right">
					<tr>
						<td class="lang_call_limit" colspan = 2>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span class="lang_call_limit"></span>
								:<span id="lang_call_limit_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="call-limit_sync" name="call-limit_sync" title="Synchronization option"/>
							<input type="text" id="calllimit" name="call-limit" value="" />
							<span id="ccalllimit" class="number_tip"></span>
						</td>
					</tr>
				</table>
				
				<div id="newline"></div>
				
				<table id="caller_id_settings" width="98%" class="tedit" align="right">
					<tr>
						<td id="lang_caller_id_settings" colspan = 2>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_trust_id"></span>
								:<span id="lang_trust_id_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="trustrpid_sync" name="trustrpid_sync" title="Synchronization option"/>
							<select size=1 id="trustrpid" name="trustrpid">
								<option class="lang_yes" value="yes" ></option>
								<option class="lang_no" value="no" ></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_send_id"></span>
								:<span id="lang_send_id_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="sendrpid_sync" name="sendrpid_sync" title="Synchronization option"/>
							<select size=1 name="sendrpid" id="sendrpid">
								<option class="lang_yes" value="yes"></option>
								<option class="lang_no" value="no"></option>
								<option id="lang_rpid" value="rpid"></option>
								<option id="lang_pai" value="pai"></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_remote_id"></span>
								:<span id="lang_remote_id_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="rpid_format_sync" name="rpid_format_sync" title="Synchronization option"/>
							<select size=1 name="rpid_format" id="rpid_format">
								<option id="lang_p_asserted" value="pass" ></option>
								<option id="lang_remote_party" value="rpid" ></option>
							</select>
						</td>
					</tr>
					
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_caller_id_presentation"></span>
								:<span id="lang_caller_id_presentation_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" class="setting_sync" id="callingpres_sync" name="callingpres_sync" title="Synchronization option"/>
							<select size=1 name="callingpres" id="callingpres">
								<option id="lang_allowed_not_screen" value="allowed_not_screen"></option>
								<option id="lang_allowed_passed_screen" value="allowed_passed_screen"></option>
								<option id="lang_allowed_failed_screen" value="allowed_failed_screen"></option>
								<option id="lang_allowed" value="allowed"></option>
								<option id="lang_prohib_not_screen" value="prohib_not_screen"></option>
								<option id="lang_prohib_passed_screen" value="prohib_passed_screen"></option>
								<option id="lang_failed_screen" value="prohib_failed_screen"></option>
								<option id="lang_prohib" value="prohib"></option>
								<option id="lang_unavailable" value="unavailable"></option>
							</select>
						</td>
					</tr>
				</table>
				<!-- Call Settings end -->
				
				<div id="newline"></div>

				<!-- Advanced:Signaling Settings begin -->
				<div id="tab">
					<li class="tb_indent">&nbsp;</li>
					<li class="tb_fold" onclick="lud(this,'tab_adv_sig_set')" id="tab_adv_sig_set_li">&nbsp;</li>
					<li id="advanced_signaling_li" class="tbg_fold" onclick="lud(this,'tab_adv_sig_set')"></li>
					<li class="tb2_fold" onclick="lud(this,'tab_adv_sig_set')">&nbsp;</li>
					<li class="tb_end2">&nbsp;</li>
				</div>
				<div id="tab_adv_sig_set" style="display:none">
					<table width="96%" class="tedit" align="right">
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_progress_inband"></span>
									:<span id="lang_progress_inband_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="progressinband_sync" name="progressinband_sync" title="Synchronization option"/>
								<select size=1 name="progressinband" id="progressinband">
									<option id="lang_never" value="never"></option>
									<option class="lang_yes" value="yes"></option>
									<option class="lang_no" value="no"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_allow_overlap_dialing"></span>
									:<span id="lang_allow_overlap_dialing_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="allowoverlap_sync" name="allowoverlap_sync" title="Synchronization option"/>
								<select size=1 name="allowoverlap" id="allowoverlap">
									<option class="lang_no" value="no" ></option>
									<option class="lang_yes" value="yes" ></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_append_user"></span>=
									<span id="lang_phone_to_url"></span>
									:<span id="lang_phone_to_url_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="usereqphone_sync" name="usereqphone_sync" title="Synchronization option"/>
								<select size=1 name="usereqphone" id="usereqphone">
									<option class="lang_no" value="no"></option>
									<option class="lang_yes" value="yes"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_add_reason_header"></span>
									:<span  id="lang_add_reason_header_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="use_q850_reason_sync" name="use_q850_reason_sync" title="Synchronization option"/>
								<select size=1 name="use_q850_reason" id="use_q850_reason">
									<option class="lang_no" value="no" ></option>
									<option class="lang_yes" value="yes" ></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_honor_sdp_version"></span>
									:<span  id="lang_honor_sdp_version_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="honorsdpversion_sync" name="honorsdpversion_sync" title="Synchronization option"/>
								<select size=1 name="honorsdpversion" id="honor_sdp_version">
									<option class="lang_no" value="no"></option>
									<option class="lang_yes" value="yes"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_allow_transfers"></span>
									:<span  id="lang_allow_transfers_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="allowtransfer_sync" name="allowtransfer_sync" title="Synchronization option"/>
								<select size=1 name="allowtransfer" id="allowtransfer">
									<option class="lang_no" value="no"></option>
									<option class="lang_yes" value="yes"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_allow_promiscuous_redirects"></span>
									:<span id="lang_allow_promiscuous_redirects_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="promiscredir_sync" name="promiscredir_sync" title="Synchronization option"/>
								<select size=1 id="promiscredir" name="promiscredir">
									<option class="lang_no" value="no"></option>
									<option class="lang_yes" value="yes"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_max_forwards"></span>
									:<span id="lang_max_forwards_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="max_forwards_sync" name="max_forwards_sync" title="Synchronization option"/>
								<input type="text" name="max_forwards" id="max_forwards" value="" />
								<span id="cmax_forwards" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_send_trying_on_register"></span>
									:<span id="lang_send_trying_on_register_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="registertrying_sync" name="registertrying_sync" title="Synchronization option"/>
								<select size=1 name="registertrying" id="send_trying_on_register">
									<option class="lang_no" value="no"></option>
									<option class="lang_yes" value="yes"></option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<!-- Advanced:Signaling Settings end -->

				<div id="newline"></div>
	
				<!-- Advanced:Timer Settings begin -->
				<div id="tab">
					<li class="tb_indent">&nbsp;</li>
					<li class="tb_fold" onclick="lud(this,'tab_adv_timer_set')" id="tab_adv_timer_set_li">&nbsp;</li>
					<li id="advanced_timer" class="tbg_fold" onclick="lud(this,'tab_adv_timer_set')"></li>
					<li class="tb2_fold" onclick="lud(this,'tab_adv_timer_set')">&nbsp;</li>
					<li class="tb_end2">&nbsp;</li>
				</div>
				<div id="tab_adv_timer_set" style="display:none">
					<table width="96%" class="tedit" align="right">
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_default_t1_timer"></span>
									:<span id="lang_default_t1_timer_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="timert1_sync" name="timert1_sync" title="Synchronization option"/>
								<input type="text" id="timert1" name="timert1" value="" />
								<span id="ctimert1" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_call_setup_timer"></span>
									:<span id="lang_call_setup_timer_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="timerb_sync" name="timerb_sync" title="Synchronization option"/>
								<input type="text" id="timerb" name="timerb" value="" />
								<span id="ctimerb" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_session_timers"></span>
									:<span id="lang_session_timers_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="session-timers_sync" name="session-timers_sync" title="Synchronization option"/>
								<select size=1 name="session-timers" id="session_timers">
									<option id="lang_accept" value="accept"></option>
									<option id="lang_originate" value="originate"></option>
									<option id="lang_refuse" value="refuse"></option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_minimun_session_refresh_interval"></span>
									:<span id="lang_minimun_session_refresh_interval_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="session-minse_sync" name="session-minse_sync" title="Synchronization option"/>
								<input type="text" id="session-minse" name="session-minse" value="" />
								<span id="csession-minse" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_maximun_session_refresh_interval"></span>
									:<span id="lang_maximun_session_refresh_interval_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="session-expires_sync" name="session-expires_sync" title="Synchronization option"/>
								<input type="text" id="session-expires" name="session-expires" value="" />
								<span id="csession-expires" class="number_tip"></span>
							</td>
						</tr>
						
						<tr>
							<th>
								<div class="helptooltips">
									<span id="lang_session_refresher"></span>
									:<span id="lang_session_refresher_help" class="showhelp"></span>
								</div>
							</th>
							<td>
								<input type="checkbox" class="setting_sync" id="session-refresher_sync" name="session-refresher_sync" title="Synchronization option"/>
								<select size=1 name="session-refresher" id="session_refresher">
									<option value="uas"> UAS </option>
									<option value="uac"> UAC </option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<!-- Advanced:Timer Settings end -->
			</div>
			<!-- Call Settings end -->
			
			<div id="newline"></div>

			<!-- Media Settings	begin -->
			<div id="tab">
				<li class="tb_fold" onclick="lud(this,'tab_media_set')" id="tab_media_set_li">&nbsp;</li>
				<li class="tbg_fold" onclick="lud(this,'tab_media_set')">
					<div class="helptooltips">
						<span id="media_setting_span"></span>
						<span id="media_setting_help_span" class="showhelp"></span>
					</div>
				</li>
				<li class="tb2_fold" onclick="lud(this,'tab_media_set')">&nbsp;</li>
				<li class="tb_end">&nbsp;</li>
			</div>
			<div id="tab_media_set" style="display:none;height:250px" >
				<table width="98%" class="tedit" align="right"></table>
			</div>
			<!-- Media Settings	end -->
			
			<div id="newline"></div>
			
			<!-- Save To Other Sips begin -->
			<div id="tab" >
				<li class="tb_fold" onclick="lud(this,'save_to_other_channels')" id="save_to_other_channels_li">&nbsp;</li>
				<li id="save_to_other_sips_li" class="tbg_fold" onclick="lud(this,'save_to_other_channels')"></li>
				<li class="tb2_fold" onclick="lud(this,'save_to_other_channels')">&nbsp;</li>
				<li class="tb_end2">&nbsp;</li>
			</div>
			<div id="save_to_other_channels" style="display:none">
				<table width="98%" class="tedit" align="right" id="save_to_other">
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_save_to_other_sips"></span>:
								<span id="lang_save_to_other_sips_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<table cellpadding="0" cellspacing="0" class="port_table">
								<tr>
									<td colspan=4>
										<input type="checkbox" id="all_port" onclick="selectAllCheckbox(this.checked,'class','port');handle_port_sync();">
										<span id="lang_all"></span>
										<span id="cports"></span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<th>
							<div class="helptooltips">
								<span id="lang_sync_all_settings"></span>:
								<span id="lang_ag_sync_all_settings_help" class="showhelp"></span>
							</div>
						</th>
						<td>
							<input type="checkbox" id="all_settings_sync" onclick="selectAllCheckbox(this.checked,'class','setting_sync');" disabled />
							<span id="lang_select_all_settings"></span>
						</td>
					</tr>
				</table>
			</div>
			<!-- Save To Other Sips end -->
			
			<div id="newline"></div><br/>

			<table id="float_btn" class="float_btn" style="float:left;">
				<tr id="float_btn_tr" class="float_btn_tr" style="">
					<td>
						<input type="submit" class="save_input" value="" />
					</td>
					<td>
						<input type="button" class="cancel_input" value="" onclick="cancel();" />
						<img src="/images/loading1.gif" id="loading_image" style="margin-left:10px;vertical-align: middle;display:none;"/>
					</td>
				</tr>
			</table>
			<table id="float_btn2" style="border:none;float:left;" class="float_btn2" >
				<tr id="float_btn_tr2" class="float_btn_tr2" style="">
					<td style="width:51px;">
						<input type="submit" id="float_button_1" class="float_short_button save_input" value="" />
					</td>
					<td>
						<input type="button" id="float_button_2" class="float_short_button cancel_input" value="" onclick="cancel();" />
					</td>
				</tr>
			</table>
			<div style="clear:both;"></div>
			
			<!-- sidebar -->
			<div id="sort_out" class="sort_out"></div>
			<div class="sort_ag_cli" id="sort_ag_cli">
				<div id="sort_info" class="sort_info" style="display:block"></div>
			</div>
		</div>
		
		<script src="../js/page/sip-endpoints-edit.js?v=2.2"></script>
	</div>
</body>
</html>
<div id="to_top"></div>
<div id="float_btn1" class="sec_float_btn1">
</div>
<div  class="float_close" onclick="close_btn()" >
</div>